<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="yandex-verification" content="520da881e1f93e6d" />
    <meta name="description" content="Умный дом. Домашняя автоматизация. Внедрение и поддержка в квартирах и загородных домах">
    <meta name="keywords" content="smart,home,smarthome,Apple,Siri,умный,дом,выключатель,сенсор,датчик,движения,дым,управление подсветкой,светом,роботом-пылесосом,имитация присутствия,энергосбережение,обесточивание розеток,обнаружение, протечка,взлом,периметр,система,видеонаблюдения,охраны">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>RazumVDom.ru - Умный дом. Домашняя автоматизация. Внедрение и поддержка в квартирах и загородных домах</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but smart-home doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
