<template>
  <div class="form">
    <form name="sampleForm" method="POST" action="//onlyoffice.razumvdom.ru/products/crm/httphandlers/webtoleadfromhandler.ashx" accept-charset="UTF-8">
      <dl id="sampleFormPanel"><dt><input type="hidden" name="is_company" value="false"></dt>
        <dd></dd><dt>
          <div class="requiredField">Имя:</div>
        </dt>
        <dd><input name="firstName" type="text"></dd><dt> Фамилия: </dt>
        <dd><input name="lastName" type="text"></dd><dt> Комментарий: </dt>
        <dd><input name="about" type="text"></dd><dt> Телефон: </dt>
        <dd><input name="contactInfo_Phone_1" type="text"></dd><dt> E-mail: </dt>
        <dd><input name="contactInfo_Email_1" type="text"></dd><dt></dt>
        <dd><input name="" value="Отправить данные" type="submit" @click="submitForm()"></dd>
      </dl>
      <input type="hidden" name="return_url" value="http://smarthome.wsweb.ru/thanks">
      <input type="hidden" name="web_form_key" value="0bf14cd2-7762-4ef1-b8ca-9d022bf3aaf6">
      <input type="hidden" name="notify_list" value="e4c8d47f-cc97-11ea-bf8e-00155d58ec03">
      <input type="hidden" name="managers_list" value="e4c8d47f-cc97-11ea-bf8e-00155d58ec03">
      <input type="hidden" name="share_type" value="0">
    </form>
  </div>
</template>
<script>
  export default {
		methods: {
			submitForm() {
				var isValid = true, form = document.getElementById('sampleFormPanel'), childs = form.getElementsByTagName('input'), isCompany = null, firstName = '', lastName = '', companyName = '', fieldName = ''; for (var i = 0, n = childs.length; i < n; i++) { fieldName = childs[i].getAttribute('name'); switch (fieldName) { case 'is_company': isCompany = childs[i].value.trim(); break; case 'firstName': firstName = childs[i].value.trim(); break; case 'lastName': lastName = childs[i].value.trim(); break; case 'companyName': companyName = childs[i].value.trim(); break; } } if (isCompany == 'false') { if (firstName == ''){ if(typeof (toastr) === 'object' && typeof (toastr.error) === 'function') toastr.error('Введите имя'); else alert('Введите имя'); isValid = false; } } else if (isCompany == 'true') { if(companyName == '') { if(typeof (toastr) === 'object' && typeof (toastr.error) === 'function') toastr.error('Введите название компании'); else alert('Введите название компании'); isValid = false; } } else { isValid = false; } return isValid;
			},
		},
	};
</script>
<style type="text/css">
.form {
  position: absolute;
  z-index: 100;
  top: 200px;
  left: calc((100% - 360px) / 2);
  width: 300px;
  display: flex;
  align-items: center;
  background: #FFF;
  font-size: 12px;
}
input {
	font-size: 14px;
	margin-left: 20px;
}

#sampleFormPanel {
  padding: 10px;
}

#sampleFormPanel dt {
  float: left;
  text-align: right;
  width: 60%;
}

#sampleFormPanel dd:not(:first-child) {
  margin-bottom: 5px;
  margin-left: 60%;
  padding-left: 10px;
}

#sampleFormPanel input[type=text] {
  border: solid 1px #C7C7C7;
}

#sampleFormPanel input[type=checkbox] {
  margin-left: 0;
}

#sampleFormPanel .requiredField:after {
  color: #c00;
  content: " *";
  font-size: 12px;
  vertical-align: text-top;
}
</style>