<template>
  <main>
    <!-- section -->
    <div class="banner will-animation" data-transition-delay="0.2">
      <div class="container">
        <div class="banner__inner">
          <div class="banner__cover">
            <img src="../assets/images/home-top.jpg" alt="" />
          </div>
          <div class="banner__content">
            <h3 class="banner__title">Крибле-крабле-дом! Комфорт и&nbsp;спокойствие&nbsp;&mdash; как по&nbsp;волшебству.</h3>
            <div class="banner__descript">Будущее на&nbsp;пороге и&nbsp;внутри вашего дома. Проектируем, устанавливаем и обслуживаем комфортные системы для жизни. Работаем в&nbsp;в Санкт-Петербурге и ЛО (до&nbsp;100&nbsp;км от КАД).
            </div>
            <div class="banner__row">
              <a href="#" class="btn btn_animate" id="formBtn" @click="$store.commit('setDataProp', { showPopup: true })">
                Рассчитать стоимость
              </a>
              <div class="banner__price">от 69 990 ₽</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section -->
    <div class="info will-animation">
      <div class="container">
        <h3 class="info__title">Что такое «Умный дом»?</h3>
        <div class="info__descript">Умный дом&nbsp;&mdash; это система автоматизации повседневных действий. Поумнев, ваш дом станет самостоятельнее, безопаснее и&nbsp;удобнее. Вы&nbsp;сможете присматривать за&nbsp;ним с&nbsp;другого конца земли, управлять бытовыми приборами со&nbsp;смартфона и&nbsp;получать уведомления о&nbsp;любых происшествиях. Долой рутину! Дом умнее, быт&nbsp;&mdash; проще.
        </div>
      </div>
    </div>
    <!-- section -->
    <div class="grid-content will-animation">
      <div class="container">
        <h3 class="grid-content__title">Как мы работаем</h3>
        <div class="grid-content__row">
          <div class="grid-content__item will-animation">
            <div class="grid-content__cover">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="56px" height="42.008px" viewBox="0 0 56 42.008" style="enable-background:new 0 0 56 42.008;" xml:space="preserve">
                <g id="_x39_37-wifi-signal_x40_2x.png">
                  <g>
                    <path d="M31.895,37.553C31.843,37.449,30.588,35,28,35s-3.843,2.449-3.895,2.553l0.013,0.007C24.049,37.696,24,37.844,24,38.008
                                        c0,0.276,0.112,0.526,0.293,0.707l3,3c0.181,0.181,0.431,0.293,0.707,0.293s0.526-0.112,0.707-0.293l3-3
                                        C31.888,38.534,32,38.284,32,38.008c0-0.164-0.049-0.312-0.118-0.448L31.895,37.553z M28,39.594l-1.704-1.704
                                        C26.649,37.48,27.223,37,28,37s1.352,0.481,1.705,0.889L28,39.594z M39.781,29.376C39.605,29.156,35.396,24,28,24
                                        s-11.605,5.156-11.781,5.376l0.016,0.012C16.095,29.56,16,29.77,16,30.008c0,0.276,0.112,0.526,0.293,0.707l3,3
                                        c0.181,0.181,0.431,0.293,0.707,0.293c0.328,0,0.606-0.169,0.788-0.413l0.011,0.008C20.825,33.566,23.582,30,28,30
                                        s7.175,3.566,7.2,3.601l0.01-0.008c0.183,0.245,0.461,0.415,0.79,0.415c0.276,0,0.526-0.112,0.707-0.293l3-3
                                        C39.888,30.534,40,30.284,40,30.008c0-0.238-0.095-0.448-0.234-0.62L39.781,29.376z M36.045,31.549C34.783,30.269,31.99,28,28,28
                                        s-6.783,2.269-8.045,3.549l-1.567-1.567C19.684,28.713,23.034,26,28,26c4.94,0,8.308,2.716,9.61,3.983L36.045,31.549z
                                         M47.789,21.387C47.491,21.003,40.347,12,28,12S8.509,21.003,8.211,21.387l0.016,0.012C8.093,21.569,8,21.774,8,22.008
                                        c0,0.276,0.112,0.526,0.293,0.707l3,3c0.181,0.181,0.431,0.293,0.707,0.293c0.329,0,0.606-0.169,0.789-0.414l0.01,0.008
                                        C12.856,25.525,18.641,18,28,18s15.144,7.525,15.201,7.602l0.01-0.008c0.183,0.245,0.46,0.414,0.789,0.414
                                        c0.276,0,0.526-0.112,0.707-0.293l3-3C47.888,22.534,48,22.284,48,22.008c0-0.233-0.093-0.438-0.227-0.609L47.789,21.387z
                                         M44.068,23.525C42.135,21.367,36.476,16,28,16s-14.135,5.367-16.068,7.525l-1.566-1.566C12.208,19.962,18.503,14,28,14
                                        s15.792,5.962,17.635,7.959L44.068,23.525z M55.833,13.487l0.019-0.011C55.513,12.926,47.337,0,28,0S0.487,12.926,0.148,13.477
                                        l0.019,0.011C0.07,13.642,0,13.812,0,14.008c0,0.276,0.112,0.526,0.293,0.707l3,3C3.474,17.896,3.724,18.008,4,18.008
                                        c0.35,0,0.642-0.189,0.82-0.461l0.012,0.008C4.909,17.439,12.712,6,28,6c15.247,0,23.091,11.44,23.169,11.556l0.012-0.008
                                        c0.179,0.271,0.471,0.46,0.819,0.46c0.276,0,0.526-0.111,0.707-0.293l3-3C55.888,14.534,56,14.284,56,14.008
                                        C56,13.812,55.93,13.642,55.833,13.487z M52.115,15.479C49.783,12.537,41.826,4,28,4S6.217,12.537,3.885,15.479l-1.59-1.59
                                        c0.795-1.077,2.674-3.369,5.751-5.641C11.907,5.397,18.503,2,28,2s16.093,3.397,19.954,6.248c3.077,2.271,4.956,4.563,5.751,5.641
                                        L52.115,15.479z" />
                  </g>
                </g>
              </svg>
            </div>
            <div class="grid-content__subtitle">Без шума и проводов</div>
            <div class="grid-content__descript">Уже сделали ремонт? Тем лучше! Умный дом работает по беспроводному протоколу связи&nbsp;&mdash; это значит, что ремонтных работ больше проводить не придётся. Хорошая новость для ваших соседей.
            </div>
          </div>
          <div class="grid-content__item will-animation">
            <div class="grid-content__cover">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="56px" height="56px" viewBox="0 0 56 56" style="enable-background:new 0 0 56 56;" xml:space="preserve">
                <g id="_x39_68-sliders_x40_2x.png">
                  <g>
                    <path d="M32,32h-3V10c0-0.552-0.447-1-1-1s-1,0.448-1,1v22h-3c-1.104,0-2,0.896-2,2v2c0,1.104,0.896,2,2,2h3v8
                                        c0,0.553,0.447,1,1,1s1-0.447,1-1v-8h3c1.104,0,2-0.896,2-2v-2C34,32.896,33.104,32,32,32z M32,36h-8v-2h8V36z M17,18h-3v-8
                                        c0-0.552-0.447-1-1-1s-1,0.448-1,1v8H9c-1.104,0-2,0.896-2,2v2c0,1.104,0.896,2,2,2h3v22c0,0.553,0.447,1,1,1s1-0.447,1-1V24h3
                                        c1.104,0,2-0.896,2-2v-2C19,18.896,18.104,18,17,18z M17,22H9v-2h8V22z M47,22h-3V10c0-0.552-0.447-1-1-1s-1,0.448-1,1v12h-3
                                        c-1.104,0-2,0.896-2,2v2c0,1.104,0.896,2,2,2h3v18c0,0.553,0.447,1,1,1s1-0.447,1-1V28h3c1.104,0,2-0.896,2-2v-2
                                        C49,22.896,48.104,22,47,22z M47,26h-8v-2h8V26z M52,0H4C1.791,0,0,1.791,0,4v48c0,2.209,1.791,4,4,4h48c2.209,0,4-1.791,4-4V4
                                        C56,1.791,54.209,0,52,0z M54,52c0,1.104-0.896,2-2,2H4c-1.104,0-2-0.896-2-2V4c0-1.104,0.896-2,2-2h48c1.104,0,2,0.896,2,2V52z" />
                  </g>
                </g>
              </svg>
            </div>
            <div class="grid-content__subtitle">Всё индивидуально</div>
            <div class="grid-content__descript">Костюм, сшитый по&nbsp;индивидуальным меркам, сидит лучше стандартной модели. Мы не&nbsp;продаём типовые решения, а&nbsp;работаем как технологическое ателье&nbsp;&mdash; создаём индивидуальные проекты с&nbsp;учётом особенностей каждого дома и&nbsp;пожеланий его хозяев.
            </div>
          </div>
          <div class="grid-content__item will-animation">
            <div class="grid-content__cover">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="56px" height="52px" viewBox="0 0 56 52" style="enable-background:new 0 0 56 52;" xml:space="preserve">
                <g id="_x31_040-checkmark_x40_2x.png">
                  <g>
                    <path d="M56,5c0-2.762-2.238-5-5-5c-1.459,0-2.738,0.655-3.65,1.654l-0.035-0.033L18.321,33.25l-9.786-9.785l-0.011,0.011
                                        C7.621,22.569,6.381,22,5,22c-2.762,0-5,2.238-5,5c0,1.067,0.34,2.052,0.91,2.863l-0.007,0.004l14,20l0.007-0.004
                                        C15.814,51.152,17.306,52,19,52c1.622,0,3.049-0.784,3.962-1.981l0.016,0.012l32-42l-0.016-0.012C55.604,7.178,56,6.14,56,5z
                                         M53.372,6.806L52.164,8.42l0.001,0.001L22.59,47.239l-0.015-0.011l-1.203,1.577C20.793,49.564,19.929,50,19,50
                                        c-0.971,0-1.888-0.48-2.452-1.285l-0.852-1.202L3.799,30.516L3.81,30.51l-1.263-1.797C2.189,28.205,2,27.612,2,27
                                        c0-1.654,1.346-3,3-3c0.789,0,1.537,0.315,2.107,0.888l1.426,1.408l0.002-0.003l8.372,8.371l1.477,1.478l1.412-1.54L47.417,4.469
                                        l0.038,0.036l1.371-1.502C49.417,2.356,50.188,2,51,2c1.654,0,3,1.346,3,3C54,5.812,53.658,6.43,53.372,6.806z" />
                  </g>
                </g>
              </svg>
            </div>
            <div class="grid-content__subtitle">Настраиваем на новую жизнь</div>
            <div class="grid-content__descript">Мы&nbsp;сами установим систему, настроим&nbsp;её, запустим, проверим, как она работает, проверим ещё раз и&nbsp;научим вас уверенно с&nbsp;ней обращаться. Это несложно.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section -->
    <div class="homekit will-animation">
      <div class="container">
        <div class="homekit__inner">
          <div class="homekit__col homekit__col_cover will-animation">
            <img src="../assets/images/homekit@2x.jpg" class="homekit__img" alt="" />
          </div>
          <div class="homekit__col will-animation animation-to-top">
            <div class="homekit__content">
              <div class="homekit__title">Всегда под рукой</div>
              <div class="homekit__descript">Это значит, что вы&nbsp;можете легко и&nbsp;надёжно управлять используемой в доме техникой с&nbsp;iPhone, iPad или компьютера Mac. А&nbsp;лучше просто попросите голосового помощника Siri&nbsp;&mdash; исполнительности ей&nbsp;не&nbsp;занимать.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section -->
    <div class="one-app will-animation">
      <div class="container">
        <h3 class="one-app__title title">Одно приложение для всех устройств</h3>
        <div class="device-list">
          <!-- <div class="device-list__item">
                        <div class="device-list__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                                <rect class="a" fill="none" width="60" height="60" />
                                <path d="M56,44H4a1,1,0,0,1-1-1V11a1,1,0,0,1,1-1H56a1,1,0,0,1,1,1V43A1,1,0,0,1,56,44ZM5,42H55V12H5Z" />
                                <path d="M30,50a1,1,0,0,1-1-1V43a1,1,0,0,1,2,0v6A1,1,0,0,1,30,50Z" />
                                <path d="M43.5,50h-27a1,1,0,0,1,0-2h27a1,1,0,0,1,0,2Z" />
                            </svg>
                        </div>
                        <div class="device-list__title">Телевизоры<br />(скоро)</div>
                    </div> -->
          <div class="device-list__item">
            <div class="device-list__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                <g>
                  <path d="M33.457,55H26.543A3.347,3.347,0,0,1,23,51.8V49a1,1,0,0,1,1-1H35.986a1,1,0,0,1,1,1v2.64A.981.981,0,0,1,37,51.8,3.387,3.387,0,0,1,33.457,55ZM25,50v1.8A1.405,1.405,0,0,0,26.543,53h6.914a1.449,1.449,0,0,0,1.536-1.081.877.877,0,0,1-.007-.115V50Z" />
                  <path d="M36.247,46H23.885a1,1,0,0,1-1-1V43.761a19.765,19.765,0,0,0-5.547-13.328,15.188,15.188,0,0,1-4.2-12.773C14.469,9.1,22.75,4,29.99,4,39.369,4,47,11.108,47,19.845a15.114,15.114,0,0,1-4.514,10.74l-.006.006a18.221,18.221,0,0,0-5.233,13.17V45A1,1,0,0,1,36.247,46ZM24.885,44H35.247v-.239a20.2,20.2,0,0,1,5.827-14.593A13.122,13.122,0,0,0,45,19.845C45,12.211,38.267,6,29.99,6c-8.147,0-13.959,6.072-14.871,11.942A13.219,13.219,0,0,0,18.783,29.05a21.794,21.794,0,0,1,6.1,14.711ZM41.779,29.878h0Z" />
                </g>
                <rect fill="none" width="60" height="60" />
              </svg>
            </div>
            <div class="device-list__title">Свет</div>
          </div>
          <div class="device-list__item">
            <div class="device-list__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                <g>
                  <path d="M47,56H13a1,1,0,0,1-1-1V5a1,1,0,0,1,1-1H47a1,1,0,0,1,1,1V55A1,1,0,0,1,47,56ZM14,54H46V6H14Z" />
                  <circle cx="30" cy="10" r="1" />
                  <circle cx="30" cy="50" r="1" />
                </g>
                <path d="M36,42H24a1,1,0,0,1-1-1V19a1,1,0,0,1,1-1H36a1,1,0,0,1,1,1V41A1,1,0,0,1,36,42ZM25,40H35V20H25Z" />
                <path d="M36,34H24a1,1,0,0,1,0-2H36a1,1,0,0,1,0,2Z" />
                <rect fill="none" width="60" height="60" />
              </svg>
            </div>
            <div class="device-list__title">Выключатели</div>
          </div>
          <div class="device-list__item">
            <div class="device-list__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                <path d="M46,55H14a9.011,9.011,0,0,1-9-9V14a9.011,9.011,0,0,1,9-9H46a9.011,9.011,0,0,1,9,9V46A9.011,9.011,0,0,1,46,55ZM14,7a7.008,7.008,0,0,0-7,7V46a7.008,7.008,0,0,0,7,7H46a7.008,7.008,0,0,0,7-7V14a7.008,7.008,0,0,0-7-7Z" />
                <path d="M30,45A15,15,0,1,1,45,30,15.017,15.017,0,0,1,30,45Zm0-28A13,13,0,1,0,43,30,13.015,13.015,0,0,0,30,17Z" />
                <circle cx="23" cy="30" r="2" />
                <circle cx="37" cy="30" r="2" />
                <path d="M30,22a1,1,0,0,1-1-1V16a1,1,0,0,1,2,0v5A1,1,0,0,1,30,22Z" />
                <path d="M30,45a1,1,0,0,1-1-1V39a1,1,0,0,1,2,0v5A1,1,0,0,1,30,45Z" />
                <rect fill="none" width="60" height="60" />
              </svg>
            </div>
            <div class="device-list__title">Розетки</div>
          </div>
          <div class="device-list__item">
            <div class="device-list__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                <path d="M30,56a12.992,12.992,0,0,1-7-23.942V11a7,7,0,0,1,14,0V32.058A12.992,12.992,0,0,1,30,56ZM30,6a5.006,5.006,0,0,0-5,5V32.619a1,1,0,0,1-.5.865,11,11,0,1,0,11,0,1,1,0,0,1-.5-.865V11A5.006,5.006,0,0,0,30,6Z" />
                <circle cx="30" cy="43" r="6" />
                <path d="M30,44a1,1,0,0,1-1-1V12a1,1,0,0,1,2,0V43A1,1,0,0,1,30,44Z" />
                <path d="M45,17H40a1,1,0,0,1,0-2h5a1,1,0,0,1,0,2Z" />
                <path d="M45,21H40a1,1,0,0,1,0-2h5a1,1,0,0,1,0,2Z" />
                <path d="M45,25H40a1,1,0,0,1,0-2h5a1,1,0,0,1,0,2Z" />
                <rect fill="none" width="60" height="60" />
              </svg>
            </div>
            <div class="device-list__title">Термостаты</div>
          </div>
          <div class="device-list__item">
            <div class="device-list__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                <path d="M49,59H11a1,1,0,0,1-1-1V2a1,1,0,0,1,1-1H49a1,1,0,0,1,1,1V58A1,1,0,0,1,49,59ZM12,57H48V3H12Z" />
                <path d="M30,22a8,8,0,1,1,8-8A8.009,8.009,0,0,1,30,22ZM30,8a6,6,0,1,0,6,6A6.006,6.006,0,0,0,30,8Z" />
                <path d="M30,16a2,2,0,1,1,2-2A2,2,0,0,1,30,16Zm0-2h0Zm0,0h0Zm0,0h0Zm0,0h0Zm0,0h0Zm0,0h0Zm0,0h0Zm0,0h0Z" />
                <path d="M30,55A15,15,0,1,1,45,40,15.017,15.017,0,0,1,30,55Zm0-28A13,13,0,1,0,43,40,13.015,13.015,0,0,0,30,27Z" />
                <path d="M30,46a6,6,0,1,1,6-6A6.006,6.006,0,0,1,30,46Zm0-10a4,4,0,1,0,4,4A4,4,0,0,0,30,36Z" />
                <circle cx="16" cy="7" r="1" />
                <circle cx="44" cy="7" r="1" />
                <circle cx="16" cy="53" r="1" />
                <circle cx="44" cy="53" r="1" />
                <rect fill="none" width="60" height="60" />
              </svg>
            </div>
            <div class="device-list__title">Колонки</div>
          </div>
          <div class="device-list__item">
            <div class="device-list__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                <path d="M51,56H9a1,1,0,0,1-1-1V5A1,1,0,0,1,9,4H51a1,1,0,0,1,1,1V55A1,1,0,0,1,51,56ZM10,54H50V6H10Z" />
                <path d="M46,31H14a1,1,0,0,1,0-2H46a1,1,0,0,1,0,2Z" />
                <path d="M46,51H14a1,1,0,0,1-1-1V10a1,1,0,0,1,1-1H46a1,1,0,0,1,1,1V50A1,1,0,0,1,46,51ZM15,49H45V11H15Z" />
                <path d="M30,51a1,1,0,0,1-1-1V10a1,1,0,0,1,2,0V50A1,1,0,0,1,30,51Z" />
                <rect fill="none" width="60" height="60" />
              </svg>
            </div>
            <div class="device-list__title">Окна</div>
          </div>
          <div class="device-list__item">
            <div class="device-list__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                <path d="M30.45,55H30a1,1,0,0,1-1-1V39.938l-.1-.011c-.005.016-.012.033-.018.051a27.2,27.2,0,0,1-3.331,6.134A18.017,18.017,0,0,1,21.916,49.7l-.809.54a.988.988,0,0,1-.5.168l-.987.056a11.221,11.221,0,0,1-9.614-4.454c-.018-.021-2.442-3.051-2.442-3.81,0-.647,0-.647,7.276-4.77,2.821-1.6,4.953-2.821,5.992-3.429-4.969.754-9.517.334-12.524-1.162a3.339,3.339,0,0,1-1.58-1.509,10.916,10.916,0,0,1-1.5-3.3A8.217,8.217,0,0,1,5,25.688a10.716,10.716,0,0,1,.8-4.34c.017-.044,1.531-3.923,2.4-4.248a1.024,1.024,0,0,1,.837.061c.173.1,3.192,1.784,6.823,3.811C18.9,22.666,20.806,23.7,21.768,24.2l-.315-.395a20.231,20.231,0,0,1-4.77-10.13l-.105-.993a1,1,0,0,1,.106-.563l.489-.947C19.106,7.5,22.492,5.521,27.525,5.107c.529-.048,1.308-.087,1.726-.1L29.986,5a1.006,1.006,0,0,1,.715.289A.994.994,0,0,1,31,6V20.065l.1.011c.035-.087.074-.187.118-.3,1.632-4.169,4.145-7.625,6.9-9.485l.769-.523A.991.991,0,0,1,39.4,9.6l1.081-.056c4.032-.2,7.363,1.536,10.2,5.321,1.977,2.665,2.045,3.105,1.461,3.694-.137.131-.137.131-6.976,4.018l-2.472,1.405c-1.447.821-2.761,1.568-3.533,2.009l.01.022c.165-.02.376-.05.584-.079l.361-.051a31.249,31.249,0,0,1,5.976-.164,17.17,17.17,0,0,1,5.6,1.446,3.342,3.342,0,0,1,1.587,1.518,11.107,11.107,0,0,1,1.5,3.289,8,8,0,0,1,.232,2.3,9.806,9.806,0,0,1-.611,3.817c-.015.047-1.589,4.343-2.544,4.717-.55.239-.549.237-7.715-3.771-2.786-1.555-4.9-2.724-5.952-3.3l0,0c.084.112.2.257.35.447a26.218,26.218,0,0,1,3.91,6.55,16.08,16.08,0,0,1,.883,3.635l.1.957a1.008,1.008,0,0,1-.111.576l-.5.938a10.88,10.88,0,0,1-8.038,5.724A28.575,28.575,0,0,1,30.45,55ZM28.341,37.833a1.433,1.433,0,0,1,.361.05c.095.02.4.06.695.082l.7.067a1,1,0,0,1,.9,1V52.984a28.249,28.249,0,0,0,3.383-.386,8.878,8.878,0,0,0,6.661-4.7l.356-.672-.07-.651a13.818,13.818,0,0,0-.769-3.149,24.455,24.455,0,0,0-3.593-6c-.722-.9-1.294-1.608-.779-2.33.032-.049.083-.124.143-.214l.515-.761a4.559,4.559,0,0,1,.314-.42,1.013,1.013,0,0,1,.394-.237c.461-.145.46-.146,7.55,3.811,2.816,1.574,4.949,2.734,6,3.29a27.172,27.172,0,0,0,1.374-3.1,7.88,7.88,0,0,0,.517-3.2,6.07,6.07,0,0,0-.163-1.783A9.01,9.01,0,0,0,51.6,29.783c-.423-.638-.423-.638-.8-.829A15.391,15.391,0,0,0,45.88,27.7a29.748,29.748,0,0,0-5.494.154l-.358.051c-1.346.191-2.083.3-2.667-1.032l-.066-.15c-.337-.7-.635-1.326-.106-1.869l.005,0c.24-.2,1.009-.64,4.5-2.625l2.473-1.405c2.766-1.572,4.816-2.739,5.89-3.353-.27-.412-.63-.939-.991-1.425-2.435-3.252-5.152-4.687-8.49-4.519l-.8.042-.54.367c-2.39,1.616-4.691,4.814-6.155,8.556-.355.916-.717,1.87-1.762,1.623-.131-.028-.444-.062-.736-.091l-.681-.065a1,1,0,0,1-.905-1V7.019c-.39.016-.914.045-1.295.08h-.01c-4.36.358-7.139,1.947-8.748,5l-.348.674.072.686a18.291,18.291,0,0,0,4.34,9.093c.994,1.243,1.033,1.291,1.033,1.681,0,.367-.152.577-.605,1.2-.154.211-.3.415-.361.517a1.009,1.009,0,0,1-.517.486c-.57.238-.581.241-7.674-3.718-3.4-1.9-5.112-2.852-5.974-3.335-.414.8-1.013,2.05-1.242,2.662A8.673,8.673,0,0,0,7,25.682a6.322,6.322,0,0,0,.165,1.835,8.959,8.959,0,0,0,1.23,2.7c.438.651.438.651.793.823,2.727,1.355,6.984,1.69,11.693.927l.379-.065a1,1,0,0,1,1.072.562l.338.722c.434.927.434,1.022.434,1.211,0,.648,0,.648-7.276,4.77-2.724,1.544-4.807,2.738-5.882,3.365.492.728,1.237,1.77,1.59,2.184A9.363,9.363,0,0,0,19.5,48.465l.719-.042.572-.382a16.258,16.258,0,0,0,3.146-3.121,25.034,25.034,0,0,0,3.065-5.646C27.235,38.656,27.542,37.833,28.341,37.833ZM50.76,41.188ZM28.2,39.82l.027.007Zm9.646-3.6c-.015.022-.031.046-.046.066C37.82,36.261,37.836,36.239,37.85,36.217Zm.008-1.792h0ZM27.612,6.1h0Z" />
                <path d="M30,35a5,5,0,1,1,5-5A5.006,5.006,0,0,1,30,35Zm0-8a3,3,0,1,0,3,3A3,3,0,0,0,30,27Z" />
                <rect fill="none" width="60" height="60" />
              </svg>
            </div>
            <div class="device-list__title">Вентиляторы</div>
          </div>
          <div class="device-list__item">
            <div class="device-list__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                <g>
                  <path d="M50,39H10a5.006,5.006,0,0,1-5-5V14a5.006,5.006,0,0,1,5-5H50a5.006,5.006,0,0,1,5,5V34A5.006,5.006,0,0,1,50,39ZM10,11a3,3,0,0,0-3,3V34a3,3,0,0,0,3,3H50a3,3,0,0,0,3-3V14a3,3,0,0,0-3-3Z" />
                  <path d="M54,29H6a1,1,0,0,1,0-2H54a1,1,0,0,1,0,2Z" />
                  <path d="M34,34H26a1,1,0,0,1,0-2h8a1,1,0,0,1,0,2Z" />
                  <g>
                    <path d="M6,51a1,1,0,0,1,0-2,5.006,5.006,0,0,0,5-5,1,1,0,0,1,2,0A7.008,7.008,0,0,1,6,51Z" />
                    <path d="M18,51a1,1,0,0,1,0-2,5.006,5.006,0,0,0,5-5,1,1,0,0,1,2,0A7.008,7.008,0,0,1,18,51Z" />
                    <path d="M42,51a7.008,7.008,0,0,1-7-7,1,1,0,0,1,2,0,5.006,5.006,0,0,0,5,5,1,1,0,0,1,0,2Z" />
                    <path d="M54,51a7.008,7.008,0,0,1-7-7,1,1,0,0,1,2,0,5.006,5.006,0,0,0,5,5,1,1,0,0,1,0,2Z" />
                  </g>
                </g>
                <rect fill="none" width="60" height="60" />
              </svg>
            </div>
            <div class="device-list__title">Кондиционеры</div>
          </div>
          <!-- <div class="device-list__item">
                        <div class="device-list__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                                <g>
                                    <path d="M30,56a15.411,15.411,0,0,1-8.057-2.224,16.031,16.031,0,0,1-5.817-5.955A16.49,16.49,0,0,1,14,39.568a23.339,23.339,0,0,1,1.608-7.113A97.54,97.54,0,0,1,19.7,22.684C22.812,16.148,25.9,10.2,29.13,4.506A1,1,0,0,1,30,4h0a1,1,0,0,1,.87.506c3.113,5.486,6.19,11.432,9.4,18.179a96.435,96.435,0,0,1,4.089,9.77A23.28,23.28,0,0,1,46,39.568a16.371,16.371,0,0,1-2.157,8.257h0A16.4,16.4,0,0,1,38,53.776,15.314,15.314,0,0,1,30,56ZM30,7.039c-2.9,5.185-5.684,10.6-8.5,16.506A95.774,95.774,0,0,0,17.5,33.113,21.912,21.912,0,0,0,16,39.568a14.5,14.5,0,0,0,1.866,7.265,14.064,14.064,0,0,0,5.108,5.229A13.443,13.443,0,0,0,30,54a13.165,13.165,0,0,0,6.97-1.938,14.232,14.232,0,0,0,5.139-5.233A14.392,14.392,0,0,0,44,39.568a21.968,21.968,0,0,0-1.524-6.454,94.541,94.541,0,0,0-4.007-9.569C35.575,17.472,32.794,12.053,30,7.039ZM42.976,47.327h0Z" />
                                    <path d="M33.645,50.563a1,1,0,0,1-.508-1.862c3.592-2.111,5.59-4.675,6.108-7.836.857-5.234-2.976-9.95-3.14-10.148a1,1,0,0,1,1.543-1.273c.187.227,4.572,5.624,3.57,11.744-.611,3.732-2.989,6.839-7.068,9.238A.987.987,0,0,1,33.645,50.563Z" />
                                </g>
                                <rect fill="none" width="60" height="60" />
                            </svg>
                        </div>
                        <div class="device-list__title">Увлажнители</div>
                    </div> -->
          <!-- <div class="device-list__item">
                        <div class="device-list__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                                <path d="M31,24H7a1,1,0,0,1,0-2H31a6,6,0,1,0-6-6,1,1,0,0,1-2,0,8,8,0,1,1,8,8Z" />
                                <path d="M20,52a8.009,8.009,0,0,1-8-8,1,1,0,0,1,2,0,6,6,0,1,0,6-6H7a1,1,0,0,1,0-2H20a8,8,0,0,1,0,16Z" />
                                <path d="M43,49A10.011,10.011,0,0,1,33,39a1,1,0,0,1,2,0,8,8,0,1,0,8-8H7a1,1,0,0,1,0-2H43a10,10,0,0,1,0,20Z" />
                                <rect fill="none" width="60" height="60" />
                            </svg>
                        </div>
                        <div class="device-list__title">Очистители <br />воздуха</div>
                    </div> -->
          <div class="device-list__item">
            <div class="device-list__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                <path d="M30,36a6,6,0,1,1,6-6A6.006,6.006,0,0,1,30,36Zm0-10a4,4,0,1,0,4,4A4,4,0,0,0,30,26Z" />
                <g>
                  <path d="M40.606,41.606A1,1,0,0,1,39.9,39.9a14,14,0,0,0,0-19.8,1,1,0,1,1,1.414-1.414,16,16,0,0,1,0,22.626A.993.993,0,0,1,40.606,41.606Z" />
                  <path d="M19.394,41.606a.993.993,0,0,1-.707-.293,16,16,0,0,1,0-22.626A1,1,0,0,1,20.1,20.1a14,14,0,0,0,0,19.8,1,1,0,0,1-.707,1.707Z" />
                </g>
                <g>
                  <path d="M47.678,48.678a1,1,0,0,1-.707-1.707,24.029,24.029,0,0,0,0-33.942,1,1,0,1,1,1.414-1.414,26.031,26.031,0,0,1,0,36.77A1,1,0,0,1,47.678,48.678Z" />
                  <path d="M12.322,48.678a1,1,0,0,1-.707-.293,26.031,26.031,0,0,1,0-36.77,1,1,0,0,1,1.414,1.414,24.029,24.029,0,0,0,0,33.942,1,1,0,0,1-.707,1.707Z" />
                </g>
                <rect fill="none" width="60" height="60" />
              </svg>
            </div>
            <div class="device-list__title">Сенсоры</div>
          </div>
          <div class="device-list__item">
            <div class="device-list__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                <g>
                  <path d="M30,55a.994.994,0,0,1-.34-.06C8.465,47.285,8.784,30.658,9.064,15.989c.017-.858.033-1.691.044-2.507a1,1,0,0,1,.958-.985c7.819-.328,13.945-2.633,19.278-7.253a1,1,0,0,1,1.31,0c5.333,4.62,11.46,6.925,19.28,7.253a1,1,0,0,1,.958.985c.011.812.026,1.641.043,2.5.281,14.681.6,31.307-20.6,38.963A.994.994,0,0,1,30,55Zm-18.9-40.555c-.009.519-.019,1.045-.03,1.582C10.8,29.945,10.5,45.709,30,52.936c19.506-7.228,19.2-22.992,18.937-36.909-.011-.54-.021-1.065-.03-1.582A31.927,31.927,0,0,1,30,7.309,31.924,31.924,0,0,1,11.094,14.445Z" />
                  <path d="M26.786,35a1,1,0,0,1-.731-.317L21.27,29.562A1,1,0,1,1,22.73,28.2l4.056,4.339L37.27,21.317a1,1,0,1,1,1.46,1.366l-11.214,12A1,1,0,0,1,26.786,35Z" />
                </g>
                <rect fill="none" width="60" height="60" />
              </svg>
            </div>
            <div class="device-list__title">Безопасность</div>
          </div>
          <div class="device-list__item">
            <div class="device-list__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                <path d="M44,53H16a5.006,5.006,0,0,1-5-5V30a5.006,5.006,0,0,1,5-5H44a5.006,5.006,0,0,1,5,5V48A5.006,5.006,0,0,1,44,53ZM16,27a3,3,0,0,0-3,3V48a3,3,0,0,0,3,3H44a3,3,0,0,0,3-3V30a3,3,0,0,0-3-3Z" />
                <circle cx="30" cy="36" r="3" />
                <path d="M30,44a1,1,0,0,1-1-1V37a1,1,0,0,1,2,0v6A1,1,0,0,1,30,44Z" />
                <path d="M42,27a1,1,0,0,1-1-1V19a11,11,0,0,0-22,0v7a1,1,0,0,1-2,0V19a13,13,0,0,1,26,0v7A1,1,0,0,1,42,27Z" />
                <rect fill="none" width="60" height="60" />
              </svg>
            </div>
            <div class="device-list__title">Замки</div>
          </div>
          <div class="device-list__item">
            <div class="device-list__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                <path d="M49,22H11a5.006,5.006,0,0,1-5-5V7A1,1,0,0,1,7,6H53a1,1,0,0,1,1,1V17A5.006,5.006,0,0,1,49,22ZM8,8v9a3,3,0,0,0,3,3H49a3,3,0,0,0,3-3V8Z" />
                <path d="M30,52A20.023,20.023,0,0,1,10,32a1,1,0,0,1,2,0,18,18,0,0,0,36,0,1,1,0,0,1,2,0A20.023,20.023,0,0,1,30,52Z" />
                <path d="M11,33a1,1,0,0,1-1-1V21a1,1,0,0,1,2,0V32A1,1,0,0,1,11,33Z" />
                <path d="M49,33a1,1,0,0,1-1-1V21a1,1,0,0,1,2,0V32A1,1,0,0,1,49,33Z" />
                <path d="M30,46A10,10,0,1,1,40,36,10.011,10.011,0,0,1,30,46Zm0-18a8,8,0,1,0,8,8A8.009,8.009,0,0,0,30,28Z" />
                <path d="M30,40a4,4,0,1,1,4-4A4,4,0,0,1,30,40Zm0-6a2,2,0,1,0,2,2A2,2,0,0,0,30,34Z" />
                <rect fill="none" width="60" height="60" />
              </svg>
            </div>
            <div class="device-list__title">Камеры</div>
          </div>
          <div class="device-list__item">
            <div class="device-list__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                <g>
                  <path d="M32,17a1,1,0,0,1-1-1V13.893a1.006,1.006,0,0,0-2,0v2.085a1,1,0,0,1-2,0V13.893a3,3,0,0,1,6,0V16A1,1,0,0,1,32,17Z" />
                  <path d="M10.187,38.727a1,1,0,0,1-.853-.476,23.266,23.266,0,0,1,0-24,1,1,0,0,1,1.7,1.049,21.266,21.266,0,0,0,0,21.9,1,1,0,0,1-.85,1.525Z" />
                  <path d="M49.813,38.727a1,1,0,0,1-.85-1.525,21.266,21.266,0,0,0,0-21.9,1,1,0,0,1,1.7-1.049,23.266,23.266,0,0,1,0,24A1,1,0,0,1,49.813,38.727Z" />
                  <path d="M42,41H18a1,1,0,0,1-.824-1.565l.766-1.118A12.138,12.138,0,0,0,20.1,32.188V24.7a9.553,9.553,0,0,1,2.741-7.022A9.971,9.971,0,0,1,30,15c5.924,0,9.9,3.951,9.9,9.831V32.32a12.217,12.217,0,0,0,2.156,6l.765,1.118A1,1,0,0,1,42,41ZM19.867,39H40.133a13.507,13.507,0,0,1-2.23-6.68V24.831C37.9,20,34.875,17,30,17a8.028,8.028,0,0,0-5.764,2.107A7.607,7.607,0,0,0,22.1,24.7v7.488A13.664,13.664,0,0,1,19.867,39Z" />
                  <path d="M14.526,36.068a1,1,0,0,1-.858-.485A18.193,18.193,0,0,1,11,26.25a17.243,17.243,0,0,1,2.667-9.333,1,1,0,0,1,1.7,1.053A15.3,15.3,0,0,0,13,26.25a16.191,16.191,0,0,0,2.383,8.3,1,1,0,0,1-.857,1.514Z" />
                  <path d="M45.474,36.068a1,1,0,0,1-.857-1.514A16.191,16.191,0,0,0,47,26.25a15.3,15.3,0,0,0-2.368-8.28,1,1,0,1,1,1.7-1.053A17.243,17.243,0,0,1,49,26.25a18.193,18.193,0,0,1-2.668,9.333A1,1,0,0,1,45.474,36.068Z" />
                  <path d="M30,47a4,4,0,0,1-4-4,1,1,0,0,1,2,0,2,2,0,0,0,4,0,1,1,0,0,1,2,0A4,4,0,0,1,30,47Z" />
                </g>
                <rect fill="none" width="60" height="60" />
              </svg>
            </div>
            <div class="device-list__title">Дверные звонки</div>
          </div>
          <div class="device-list__item">
            <div class="device-list__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                <path d="M50,50H10a1,1,0,0,1-1-1V19a1,1,0,0,1,2,0V48H49V19a1,1,0,0,1,2,0V49A1,1,0,0,1,50,50Z" />
                <path d="M44,44H16a1,1,0,0,1-1-1V25a1,1,0,0,1,1-1H44a1,1,0,0,1,1,1V43A1,1,0,0,1,44,44ZM17,42H43V26H17Z" />
                <path d="M44,32H16a1,1,0,0,1,0-2H44a1,1,0,0,1,0,2Z" />
                <path d="M44,38H16a1,1,0,0,1,0-2H44a1,1,0,0,1,0,2Z" />
                <path d="M54,22a.993.993,0,0,1-.475-.121L30,9.138,6.476,21.879a1,1,0,1,1-.952-1.758l24-13a.993.993,0,0,1,.952,0l24,13A1,1,0,0,1,54,22Z" />
                <rect fill="none" width="60" height="60" />
              </svg>
            </div>
            <div class="device-list__title">Двери гаража</div>
          </div>
          <!-- <div class="device-list__item">
                        <div class="device-list__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                                <g>
                                    <path d="M50,44H10a5.006,5.006,0,0,1-5-5V27a5.006,5.006,0,0,1,5-5H50a5.006,5.006,0,0,1,5,5V39A5.006,5.006,0,0,1,50,44ZM10,24a3,3,0,0,0-3,3V39a3,3,0,0,0,3,3H50a3,3,0,0,0,3-3V27a3,3,0,0,0-3-3Z" />
                                    <path d="M14,36a3,3,0,1,1,3-3A3,3,0,0,1,14,36Zm0-4a1,1,0,1,0,1,1A1,1,0,0,0,14,32Z" />
                                    <path d="M23,36a3,3,0,1,1,3-3A3,3,0,0,1,23,36Zm0-4a1,1,0,1,0,1,1A1,1,0,0,0,23,32Z" />
                                    <path d="M32,36a3,3,0,1,1,3-3A3,3,0,0,1,32,36Zm0-4a1,1,0,1,0,1,1A1,1,0,0,0,32,32Z" />
                                    <path d="M26,24a1,1,0,0,1-.815-.419l-10-14a1,1,0,0,1,1.628-1.162l10,14A1,1,0,0,1,26,24Z" />
                                    <path d="M34,24a1,1,0,0,1-.813-1.581l10-14a1,1,0,0,1,1.628,1.162l-10,14A1,1,0,0,1,34,24Z" />
                                </g>
                                <rect fill="none" width="60" height="60" />
                            </svg>
                        </div>
                        <div class="device-list__title">Хабы</div>
                    </div> -->
        </div>
      </div>
    </div>
    <!-- section -->
    <div class="video will-animation">
      <div class="container">
        <h3 class="video__title title">Как это работает</h3>
        <div class="video__box">
          <video playsinline controls poster="../assets/images/video-preview.jpg">
            <source src="../assets/video/video.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
    <!-- section -->
    <div class="info will-animation">
      <div class="container">
        <h3 class="info__title">Местное самоуправление</h3>
        <div class="info__descript info__descript_min">Управляйте чем угодно из&nbsp;любого места. Освещение, температура, бытовая техника, системы безопасности&nbsp;&mdash; всё под контролем.
        </div>
        <div class="species-box">
          <div class="tabs">
            <div class="tabs__panel">
              <div class="tabs__panel-inner">
                <a href="#security" class="tabs__btn tabs__btn_active">Безопасность</a>
                <a href="#notification" class="tabs__btn">Освещение</a>
                <a href="#prevention" class="tabs__btn">Комфорт</a>
              </div>
            </div>
            <div class="tabs__content">
              <div class="tabs__item tabs__item_active" id="security">
                <div class="species">
                  <div class="species__inner">
                    <div class="species__item">
                      <div class="species__cover">
                        <img src="../assets/images/features/camera.jpg" class="species__img" alt="">
                      </div>
                      <div class="species__title">Видеонаблюдение</div>
                      <div class="species__descript">Умный дом&nbsp;&mdash; дальновидное приобретение. Заглядывайте домой чаще: теперь легко проверить, когда ребёнок вернулся из&nbsp;школы, и&nbsp;какой из домашних питомцев разбил вазу.
                      </div>
                    </div>
                    <div class="species__item">
                      <div class="species__cover">
                        <img src="../assets/images/features/sensors.jpg" class="species__img" alt="">
                      </div>
                      <div class="species__title">Оповещение</div>
                      <div class="species__descript">Ваш дом сможет за&nbsp;собой присмотреть. Если что-то случится&nbsp;&mdash; например, протечка или возгорание&nbsp;&mdash; сработают датчики, а&nbsp;система мгновенно оповестит вас об&nbsp;этом.
                      </div>
                    </div>
                    <div class="species__item">
                      <div class="species__cover">
                        <img src="../assets/images/features/kitchen.jpg" class="species__img" alt="">
                      </div>
                      <div class="species__title">Предотвращение</div>
                      <div class="species__descript">Умный дом демонстрирует чудеса предотвращения аварийных ситуаций. К&nbsp;примеру, при утечке газа он&nbsp;самостоятельно закроет клапаны. Теперь дом не&nbsp;потеряет контроль над собой.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabs__item" id="notification">
                <div class="species">
                  <div class="species__inner">
                    <div class="species__item">
                      <div class="species__cover">
                        <img src="../assets/images/features/light.jpg" class="species__img" alt="">
                      </div>
                      <div class="species__title">Сценарии освещения</div>
                      <div class="species__descript">Умный дом&nbsp;&mdash; как невидимый дворецкий. Может включать свет, когда вы&nbsp;заходите домой, и&nbsp;выключать, если в&nbsp;комнате долгое время нет движения.
                      </div>
                    </div>
                    <div class="species__item">
                      <div class="species__cover">
                        <img src="../assets/images/features/blueprint.jpg" class="species__img" alt="">
                      </div>
                      <div class="species__title">Зонирование</div>
                      <div class="species__descript">Разделите пространство на&nbsp;отдельные зоны и настраивайте интенсивность и&nbsp;цвет освещения в&nbsp;каждой из&nbsp;них. Забудьте о выключателях&nbsp;&mdash; попросите Siri.
                      </div>
                    </div>
                    <div class="species__item">
                      <div class="species__cover">
                        <img src="../assets/images/features/efficient.jpg" class="species__img" alt="">
                      </div>
                      <div class="species__title">Экономия</div>
                      <div class="species__descript">Свет больше не&nbsp;будет гореть без дела. Система уменьшит интенсивность освещения или вовсе выключит его, если он&nbsp;горит впустую. Вы&nbsp;оцените экономию, когда настанет киловатт-час расплаты за&nbsp;электричество.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabs__item" id="prevention">
                <div class="species">
                  <div class="species__inner">
                    <div class="species__item">
                      <div class="species__cover">
                        <img src="../assets/images/features/climate.jpg" class="species__img" alt="">
                      </div>
                      <div class="species__title">Микроклимат</div>
                      <div class="species__descript">Настройте комфортную температуру и&nbsp;влажность в каждой комнате для разного времени суток. Это дом, в&nbsp;котором вы&nbsp;делаете погоду.
                      </div>
                    </div>
                    <div class="species__item">
                      <div class="species__cover">
                        <img src="../assets/images/features/windows.jpg" class="species__img" alt="">
                      </div>
                      <div class="species__title">Шторы и жалюзи</div>
                      <div class="species__descript">Умный дом самостоятельно закрывает и&nbsp;открывает шторы, сверяясь со&nbsp;временем суток и&nbsp;уровнем освещенности. Любите оставаться в&nbsp;тени? Греться в&nbsp;лучах солнца? Настройте сценарии работы штор, как вам нравится.
                      </div>
                    </div>
                    <div class="species__item">
                      <div class="species__cover">
                        <img src="../assets/images/features/appliances.jpg" class="species__img" alt="">
                      </div>
                      <div class="species__title">Домашняя техника</div>
                      <div class="species__descript">Управляйте домашней техникой, которая использует пульты с&nbsp;инфракрасными датчиками. Включайте телевизор, домашнюю станцию, робота-пылесоса&nbsp;&mdash; голосом или со&nbsp;смартфона.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section -->
    <div class="grid-content grid-content_why will-animation">
      <div class="container">
        <h3 class="grid-content__title">Зачем Вам «Умный дом»?</h3>
        <div class="grid-content__row">
          <div class="grid-content__item will-animation">
            <div class="grid-content__cover">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
                <g>
                  <g>
                    <path d="M20,47a5,5,0,1,1,5-5A5.006,5.006,0,0,1,20,47Zm0-8a3,3,0,1,0,3,3A3,3,0,0,0,20,39Z" />
                    <path d="M22.577,62H17.423a1,1,0,0,1-.993-.882l-.559-4.709A14.976,14.976,0,0,1,12.743,55.1L9.006,58.043a1,1,0,0,1-1.325-.078L4.035,54.319a1,1,0,0,1-.078-1.326L6.9,49.26a14.946,14.946,0,0,1-1.3-3.129L.882,45.57A1,1,0,0,1,0,44.577V39.423a1,1,0,0,1,.882-.993l4.7-.558a14.935,14.935,0,0,1,1.311-3.143L3.957,31.007a1,1,0,0,1,.078-1.326l3.646-3.646a1,1,0,0,1,1.325-.078l3.722,2.932a14.827,14.827,0,0,1,3.143-1.3l.559-4.709A1,1,0,0,1,17.423,22h5.154a1,1,0,0,1,.993.882l.559,4.709A14.931,14.931,0,0,1,27.257,28.9l3.737-2.943a1,1,0,0,1,1.325.078l3.645,3.646a1,1,0,0,1,.078,1.326L33.1,34.74a14.946,14.946,0,0,1,1.3,3.129l4.719.561a1,1,0,0,1,.882.993v5.154a1,1,0,0,1-.882.993l-4.7.558a14.94,14.94,0,0,1-1.31,3.143l2.932,3.722a1,1,0,0,1-.078,1.326l-3.645,3.646a1,1,0,0,1-1.326.078l-3.721-2.932a14.814,14.814,0,0,1-3.143,1.3l-.559,4.709A1,1,0,0,1,22.577,62Zm-4.266-2h3.378l.534-4.505a1,1,0,0,1,.764-.855,12.9,12.9,0,0,0,3.842-1.586,1,1,0,0,1,1.146.064l3.558,2.805,2.389-2.39-2.806-3.561a1,1,0,0,1-.065-1.146,12.84,12.84,0,0,0,1.6-3.84,1,1,0,0,1,.856-.764L38,43.688V40.312l-4.513-.537a1,1,0,0,1-.855-.761,12.871,12.871,0,0,0-1.589-3.828,1,1,0,0,1,.064-1.147l2.815-3.572-2.389-2.39L27.958,30.9a1,1,0,0,1-1.146.064,12.918,12.918,0,0,0-3.827-1.6,1,1,0,0,1-.762-.854L21.689,24H18.311l-.535,4.5a1,1,0,0,1-.764.855,12.916,12.916,0,0,0-3.841,1.587,1,1,0,0,1-1.145-.065l-3.559-2.8-2.389,2.39,2.807,3.561a1,1,0,0,1,.064,1.146,12.872,12.872,0,0,0-1.6,3.84,1,1,0,0,1-.856.764L2,40.312v3.376l4.513.537a1,1,0,0,1,.855.761,12.871,12.871,0,0,0,1.589,3.828,1,1,0,0,1-.064,1.147L6.078,53.533l2.389,2.39,3.575-2.818a1,1,0,0,1,1.146-.064,12.94,12.94,0,0,0,3.827,1.6,1,1,0,0,1,.762.854ZM39,44.577h0ZM20,51a9,9,0,1,1,9-9A9.01,9.01,0,0,1,20,51Zm0-16a7,7,0,1,0,7,7A7.008,7.008,0,0,0,20,35Z" />
                  </g>
                  <g>
                    <path d="M54,30a6,6,0,1,1,6-6A6.006,6.006,0,0,1,54,30Zm0-10a4,4,0,1,0,4,4A4,4,0,0,0,54,20Z" />
                    <path d="M56.035,40h-4.07a1,1,0,0,1-.993-.882l-.425-3.58a11.978,11.978,0,0,1-2.255-.944l-2.841,2.237a1,1,0,0,1-1.326-.078l-2.877-2.878a1,1,0,0,1-.079-1.326l2.237-2.839a11.894,11.894,0,0,1-.936-2.257l-3.587-.425A1,1,0,0,1,38,26.035v-4.07a1,1,0,0,1,.882-.993l3.571-.423a11.97,11.97,0,0,1,.946-2.268l-2.23-2.829a1,1,0,0,1,.078-1.326l2.878-2.879a1,1,0,0,1,1.326-.078L48.28,13.4a11.954,11.954,0,0,1,2.267-.935l.425-3.58A1,1,0,0,1,51.965,8h4.07a1,1,0,0,1,.993.882l.425,3.58a11.959,11.959,0,0,1,2.256.944l2.84-2.237a1,1,0,0,1,1.326.078l2.877,2.878a1,1,0,0,1,.079,1.326l-2.237,2.838a11.972,11.972,0,0,1,.937,2.258l3.587.425a1,1,0,0,1,.882.993v4.07a1,1,0,0,1-.882.993l-3.571.423a12.008,12.008,0,0,1-.946,2.268l2.23,2.83a1,1,0,0,1-.079,1.326l-2.877,2.878a1,1,0,0,1-1.327.078L59.72,34.6a12,12,0,0,1-2.267.936l-.425,3.579A1,1,0,0,1,56.035,40Zm-3.181-2h2.292l.4-3.37a1,1,0,0,1,.764-.856,9.995,9.995,0,0,0,2.97-1.226,1,1,0,0,1,1.146.064l2.662,2.1,1.622-1.622-2.1-2.665a1,1,0,0,1-.065-1.146,9.936,9.936,0,0,0,1.238-2.968,1,1,0,0,1,.856-.765l3.361-.4V22.854l-3.377-.4a1,1,0,0,1-.855-.762A10,10,0,0,0,62.54,18.73a1,1,0,0,1,.064-1.146l2.106-2.673-1.621-1.622L60.413,15.4a1,1,0,0,1-1.146.065,10,10,0,0,0-2.958-1.238,1,1,0,0,1-.763-.855L55.146,10H52.854l-.4,3.371a1,1,0,0,1-.765.856,9.982,9.982,0,0,0-2.969,1.225,1,1,0,0,1-1.145-.064l-2.664-2.1L43.29,14.912l2.1,2.664a1,1,0,0,1,.065,1.146,9.918,9.918,0,0,0-1.237,2.968,1,1,0,0,1-.856.765l-3.362.4v2.292l3.377.4a1,1,0,0,1,.855.762,10.007,10.007,0,0,0,1.228,2.96,1,1,0,0,1-.064,1.146L43.29,33.089l1.621,1.622L47.587,32.6a1,1,0,0,1,1.146-.065,10.018,10.018,0,0,0,2.958,1.238,1,1,0,0,1,.763.855ZM69,26.035h0Z" />
                  </g>
                </g>
                <rect fill="none" width="70" height="70" />
              </svg>
            </div>
            <div class="grid-content__subtitle">Удобно</div>
            <div class="grid-content__descript">Настройте дом на&nbsp;лёгкую жизнь. Автоматизируйте быт, и&nbsp;пусть всё работает само по&nbsp;себе. Бытовые приборы, температура, освещение, вентиляция&nbsp;&mdash; вся управляется со смартфона, как по&nbsp;волшебству.
            </div>
          </div>
          <div class="grid-content__item will-animation">
            <div class="grid-content__cover">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
                <g>
                  <path d="M25,65a1,1,0,0,1-.342-.061C-.641,55.738-.259,35.729.078,18.075.1,17.036.117,16.03.13,15.044a1,1,0,0,1,.957-.985c9.429-.4,16.818-3.2,23.254-8.813a1,1,0,0,1,1.315,0c6.438,5.614,13.828,8.415,23.256,8.813a1,1,0,0,1,.958.985c.012.894.029,1.8.047,2.736l0,.294c.336,17.655.718,37.665-24.582,46.865A1,1,0,0,1,25,65ZM2.116,16.009c-.012.688-.025,1.388-.038,2.105C1.755,35.017,1.389,54.164,25,62.935,48.61,54.164,48.245,35.016,47.922,18.112l0-.295c-.012-.613-.023-1.214-.033-1.808-9.03-.545-16.535-3.4-22.885-8.695C18.65,12.612,11.146,15.463,2.116,16.009Z" />
                  <path d="M21.143,40.833a1,1,0,0,1-.733-.319l-5.743-6.188a1,1,0,1,1,1.466-1.361l5.01,5.4L33.867,24.652a1,1,0,0,1,1.466,1.362l-13.458,14.5A1,1,0,0,1,21.143,40.833Z" />
                </g>
                <rect fill="none" width="70" height="70" />
              </svg>
            </div>
            <div class="grid-content__subtitle">Безопасно</div>
            <div class="grid-content__descript">Если дом&nbsp;&mdash; это крепость, то&nbsp;умный дом&nbsp;&mdash; высокотехнологичная крепость. Видеонаблюдение, охранно-пожарная сигнализация, системы защиты от&nbsp;утечек воды и газа &mdash; с&nbsp;таким комплектом ваш дом позаботится о&nbsp;себе сам.
            </div>
          </div>
          <div class="grid-content__item will-animation">
            <div class="grid-content__cover">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
                <g>
                  <g>
                    <path d="M50.106,27.305a1,1,0,0,1-.632-.227c-5.143-4.216-10.332-6.18-16.331-6.18a1,1,0,0,1,0-2c6.486,0,12.079,2.108,17.6,6.633a1,1,0,0,1-.635,1.774Z" />
                    <path d="M26,63C7.532,63,0,58.2,0,46.44c0-9.9,6.705-20.145,17.56-26.92l-4.066-8.335a1,1,0,0,1,.443-1.329A24.484,24.484,0,0,1,26,7,24.484,24.484,0,0,1,38.063,9.856a1,1,0,0,1,.443,1.329L34.44,19.52C45.3,26.3,52,36.541,52,46.44,52,58.2,44.468,63,26,63ZM15.725,11.2l4.031,8.264a1,1,0,0,1-.386,1.3C8.656,27.163,2,37,2,46.44,2,55.18,6.081,61,26,61s24-5.82,24-14.56C50,37,43.344,27.163,32.63,20.757a1,1,0,0,1-.386-1.3L36.275,11.2A22.457,22.457,0,0,0,26,9,22.457,22.457,0,0,0,15.725,11.2Z" />
                    <path d="M33.143,20.9H19.75a1,1,0,0,1,0-2H33.143a1,1,0,0,1,0,2Z" />
                  </g>
                  <g>
                    <path d="M21,56a1,1,0,0,1-1-1V28a1,1,0,0,1,2,0V55A1,1,0,0,1,21,56Z" />
                    <path d="M30,43H17a1,1,0,0,1,0-2H30a5.006,5.006,0,0,0,5-5V34a5.006,5.006,0,0,0-5-5H21a1,1,0,0,1,0-2h9a7.009,7.009,0,0,1,7,7v2A7.009,7.009,0,0,1,30,43Z" />
                    <path d="M32,49H17a1,1,0,0,1,0-2H32a1,1,0,0,1,0,2Z" />
                  </g>
                </g>
                <rect fill="none" width="70" height="70" />
              </svg>
            </div>
            <div class="grid-content__subtitle">Практично</div>
            <div class="grid-content__descript">Умный дом&nbsp;&mdash; это бережливый дом. Он&nbsp;использует ровно столько ресурсов, сколько нужно&nbsp;&mdash; к&nbsp;примеру, выключает свет и&nbsp;понижает температуру в&nbsp;пустой комнате. Интеллектуальные датчики экономят до&nbsp;30% электроэнергии.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section -->
    <div class="info info_calm will-animation">
      <div class="container">
        <h3 class="info__title">Больше нет беспокойства</h3>
        <div class="calm-box">
          <div class="tabs">
            <div class="tabs__panel tabs__panel_min">
              <div class="tabs__panel-inner">
                <a href="#on" class="tabs__btn tabs__btn_line tabs__btn_active">Всё включено. Или
                  выключено</a>
                <a href="#sec_service" class="tabs__btn tabs__btn_line">Служба безопасности</a>
                <a href="#child" class="tabs__btn tabs__btn_line">Присмотреть за детьми — дело техники</a>
                <a href="#friend" class="tabs__btn tabs__btn_line">Лучший друг человека</a>
                <a href="#all" class="tabs__btn tabs__btn_line">На всё готовое</a>
                <a href="#dacha" class="tabs__btn tabs__btn_line">Вот будет лето — поедем на дачу</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container container_max-width container_max">
        <div class="tabs__content tabs__content_tile">
          <div class="tabs__item tabs__item_active" id="on">
            <div class="tile-content">
              <div class="tile-content__col">
                <img src="../assets/images/quiet/01.jpg" alt="" class="tile-content__img tile-content__img-wide">
              </div>
              <div class="tile-content__col">
                <div class="tile-content__info">
                  <div class="tile-content__title">Всё включено. Или выключено</div>
                  <div class="tile-content__descript">Сколько раз вы&nbsp;возвращались домой, думая, что забыли выключить утюг? Теперь это в&nbsp;прошлом&nbsp;&mdash; бытовыми приборами можно управлять удалённо, со&nbsp;смартфона, планшета или компьютера.
                  </div>
                  <div class="tile-content__row">
                    <a href="#" class="btn" data-popup="checkout">Забыть о беспокойстве</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs__item" id="sec_service">
            <div class="tile-content">
              <div class="tile-content__col">
                <img src="../assets/images/quiet/02.jpg" alt="" class="tile-content__img tile-content__img-wide">
              </div>
              <div class="tile-content__col">
                <div class="tile-content__info">
                  <div class="tile-content__title">Всё ли в порядке дома?</div>
                  <div class="tile-content__descript">Стены слышат, датчики видят. Умный дом узнает, если в&nbsp;ваше жилище проникнут посторонние, и&nbsp;немедленно уведомит об&nbsp;этом. Как и&nbsp;любом другом происшествии: задымлении, протечке газа или воды.
                  </div>
                  <div class="tile-content__row">
                    <a href="#" class="btn" data-popup="checkout">Забыть о беспокойстве</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs__item" id="child">
            <div class="tile-content">
              <div class="tile-content__col">
                <img src="../assets/images/quiet/03.jpg" alt="" class="tile-content__img tile-content__img-wide">
              </div>
              <div class="tile-content__col">
                <div class="tile-content__info">
                  <div class="tile-content__title">Что делает ребёнок?</div>
                  <div class="tile-content__descript">
                    Оставляйте детей одних или с&nbsp;няней и&nbsp;смотрите прямые трансляции из&nbsp;дома с&nbsp;камеры внутреннего видеонаблюдения. Присмотреть за&nbsp;детьми теперь&nbsp;&mdash; дело техники.
                  </div>
                  <div class="tile-content__row">
                    <a href="#" class="btn" data-popup="checkout">Забыть о беспокойстве</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs__item" id="friend">
            <div class="tile-content">
              <div class="tile-content__col">
                <img src="../assets/images/quiet/04.jpg" alt="" class="tile-content__img tile-content__img-wide">
              </div>
              <div class="tile-content__col">
                <div class="tile-content__info">
                  <div class="tile-content__title">Как дела у моего питомца?</div>
                  <div class="tile-content__descript">Умный дом готов протянуть лапу помощи и&nbsp;в вопросах ухода за&nbsp;животными. Отправляйтесь в&nbsp;командировку и&nbsp;оставляйте питомцев одних: камеры видеонаблюдения будут за&nbsp;ними приглядывать, а&nbsp;автоматические кормушки и&nbsp;поилки не оставят без еды и&nbsp;воды.
                  </div>
                  <div class="tile-content__row">
                    <a href="#" class="btn" data-popup="checkout">Забыть о беспокойстве</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs__item" id="all">
            <div class="tile-content">
              <div class="tile-content__col">
                <img src="../assets/images/quiet/05.jpg" alt="" class="tile-content__img tile-content__img-wide">
              </div>
              <div class="tile-content__col">
                <div class="tile-content__info">
                  <div class="tile-content__title">Что происходит, когда меня нет дома?</div>
                  <div class="tile-content__descript">Домашние хлопоты обойдутся без вас. Пока вы&nbsp;на работе, умный дом включит робота-пылесоса, проветрит комнаты, очистит воздух и нагреет дом до&nbsp;нужной температуры к&nbsp;вашему приходу.
                  </div>
                  <div class="tile-content__row">
                    <a href="#" class="btn" data-popup="checkout">Забыть о беспокойстве</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs__item" id="dacha">
            <div class="tile-content">
              <div class="tile-content__col">
                <img src="../assets/images/quiet/06.jpg" alt="" class="tile-content__img tile-content__img-wide">
              </div>
              <div class="tile-content__col">
                <div class="tile-content__info">
                  <div class="tile-content__title">В порядке ли дача?</div>
                  <div class="tile-content__descript">В&nbsp;умный дом не&nbsp;проникнет посторонний&nbsp;&mdash; ни&nbsp;летом, ни&nbsp;зимой. Беспокоитесь, что с&nbsp;дачей что-то случится, пока вы&nbsp;в&nbsp;городе? Расслабьтесь: умный дом оповестит вас о&nbsp;протечке или возгорании в&nbsp;считанные секунды и&nbsp;сделает всё, чтобы устранить аварию. Теперь загородный дом и&nbsp;квартира под контролем в&nbsp;одном приложении.
                  </div>
                  <div class="tile-content__row">
                    <a href="#" class="btn" data-popup="checkout">Забыть о беспокойстве</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section -->
    <div class="info info_2 will-animation">
      <div class="container">
        <h3 class="info__title">Забудьте о рутине. Всё сделается само!</h3>
        <div class="info__descript">Apple TV&nbsp;и&nbsp;iPad позволят автоматизировать домашние дела. Например, вы&nbsp;можете настроить систему так, что отдельные устройства и&nbsp;сценарии будут запускаться в&nbsp;зависимости от времени суток, вашего местоположения, информации, полученной с&nbsp;датчиков, и&nbsp;многого другого. Настройте один раз &mdash; и&nbsp;готово!
        </div>
        <div class="advantages">
          <div class="advantages__inner">
            <div class="advantages__item">
              <div class="advantages__cover">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                  <path d="M30,55a1,1,0,0,1-.843-.462c-.994-1.557-2.1-3.223-3.264-4.963C20.148,40.956,13,30.229,13,22.018S19.831,5,30,5s17,8.8,17,17.018S39.852,40.954,34.109,49.572c-1.161,1.741-2.272,3.408-3.266,4.966A1,1,0,0,1,30,55ZM30,7c-8.973,0-15,7.765-15,15.018,0,7.606,6.962,18.053,12.557,26.448.849,1.274,1.672,2.51,2.443,3.691.771-1.182,1.595-2.419,2.445-3.694C38.039,40.069,45,29.623,45,22.018,45,14.765,38.973,7,30,7Zm0,23.309a7.92,7.92,0,1,1,7.753-7.918A7.847,7.847,0,0,1,30,30.309Zm0-13.836a5.92,5.92,0,1,0,5.753,5.918A5.844,5.844,0,0,0,30,16.473Z" />
                  <rect fill="none" width="60" height="60" />
                </svg>
              </div>
              <div class="advantages__title">Местоположение</div>
              <div class="advantages__descript">Подъезжаете к&nbsp;дому? Умный дом включит свет, откроет гараж и разблокирует дверной замок, предварительно нагрев или охладив помещение к&nbsp;вашему приезду.
              </div>
            </div>
            <div class="advantages__item">
              <div class="advantages__cover">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                  <path d="M30,55A25,25,0,1,1,55,30,25.028,25.028,0,0,1,30,55ZM30,7A23,23,0,1,0,53,30,23.026,23.026,0,0,0,30,7Z" />
                  <path d="M46,31H30a1,1,0,0,1-1-1V14a1,1,0,0,1,2,0V29H46a1,1,0,0,1,0,2Z" />
                  <rect fill="none" width="60" height="60" />
                </svg>
              </div>
              <div class="advantages__title">Время</div>
              <div class="advantages__descript">Настройте утренний сценарий&nbsp;&mdash; дом прогреется перед вашим пробуждением, шторы откроются вместе с&nbsp;будильником, кофеварка начнёт готовить кофе.
              </div>
            </div>
            <div class="advantages__item">
              <div class="advantages__cover">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                  <g>
                    <path d="M30,36a6,6,0,1,1,6-6A6.006,6.006,0,0,1,30,36Zm0-10a4,4,0,1,0,4,4A4,4,0,0,0,30,26Z" />
                    <g>
                      <path d="M40.606,41.606A1,1,0,0,1,39.9,39.9a14,14,0,0,0,0-19.8,1,1,0,1,1,1.414-1.414,16,16,0,0,1,0,22.626A.993.993,0,0,1,40.606,41.606Z" />
                      <path d="M19.394,41.606a.993.993,0,0,1-.707-.293,16,16,0,0,1,0-22.626A1,1,0,0,1,20.1,20.1a14,14,0,0,0,0,19.8,1,1,0,0,1-.707,1.707Z" />
                    </g>
                    <g>
                      <path d="M47.678,48.678a1,1,0,0,1-.707-1.707,24.029,24.029,0,0,0,0-33.942,1,1,0,1,1,1.414-1.414,26.031,26.031,0,0,1,0,36.77A1,1,0,0,1,47.678,48.678Z" />
                      <path d="M12.322,48.678a1,1,0,0,1-.707-.293,26.031,26.031,0,0,1,0-36.77,1,1,0,0,1,1.414,1.414,24.029,24.029,0,0,0,0,33.942,1,1,0,0,1-.707,1.707Z" />
                    </g>
                  </g>
                  <rect fill="none" width="60" height="60" />
                </svg>
              </div>
              <div class="advantages__title">Действие</div>
              <div class="advantages__descript">Интеллектуальные датчики реагируют на&nbsp;действие. К&nbsp;примеру, датчик движения в&nbsp;гостиной поймёт, что вы&nbsp;заходите, и&nbsp;умный дом включит свет.
              </div>
            </div>
            <div class="advantages__item">
              <div class="advantages__cover">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                  <path d="M12.812,55.5a3.474,3.474,0,0,1-2.649-5.723l8.514-10.058,5.938-19.444-2.308.252-1.594,8.022A3.475,3.475,0,1,1,13.9,27.194l2.089-10.525a3.463,3.463,0,0,1,3.032-2.782l7.121-.774a3.551,3.551,0,0,1,1.481.166l7.428,2.476A3.472,3.472,0,0,1,36.7,16.924l3.679,4.784,5.264-2.6a3.477,3.477,0,1,1,3.079,6.236l-7.816,3.872a3.491,3.491,0,0,1-4.3-1l-2.055-2.669-1.287,3.615,6.619,5.189a3.257,3.257,0,0,1,.248.215,3.478,3.478,0,0,1,.125,4.917l-7.432,7.816a3.449,3.449,0,0,1-2.43,1.08,3.552,3.552,0,0,1-2.484-.956,3.474,3.474,0,0,1-.125-4.914l4.8-5.042-4.8-3.76-2.668,8.733a3.4,3.4,0,0,1-.672,1.235l-8.978,10.6A3.471,3.471,0,0,1,12.812,55.5Zm13.2-37.384a1,1,0,0,1,.956,1.292L20.529,40.5a1.014,1.014,0,0,1-.192.355L11.689,51.069a1.476,1.476,0,1,0,2.251,1.91l8.979-10.6a1.394,1.394,0,0,0,.283-.519l3.12-10.212a1,1,0,0,1,1.756-.308,1.531,1.531,0,0,0,.2.214l6.406,5.016a1,1,0,0,1,.107,1.477l-5.554,5.839a1.478,1.478,0,0,0,.053,2.087,1.388,1.388,0,0,0,1.056.4,1.471,1.471,0,0,0,1.032-.458L38.809,38.1a1.477,1.477,0,0,0-.053-2.088,1.265,1.265,0,0,0-.1-.089l-7.188-5.635a1,1,0,0,1-.325-1.123l2.144-6.021a1,1,0,0,1,1.735-.275l3.173,4.122h0a1.481,1.481,0,0,0,1.828.427l7.815-3.871a1.477,1.477,0,0,0,.673-1.979,1.479,1.479,0,0,0-1.98-.671l-6,2.969a1,1,0,0,1-1.236-.287l-4.177-5.432a1.482,1.482,0,0,0-.7-.494l-7.432-2.477a1.522,1.522,0,0,0-.638-.072l-7.111.772a1.47,1.47,0,0,0-1.287,1.183L15.856,27.584a1.477,1.477,0,0,0,1.16,1.736,1.5,1.5,0,0,0,1.735-1.16l1.737-8.743a1,1,0,0,1,.872-.8l4.546-.5A1,1,0,0,1,26.015,18.115Z" />
                  <path d="M34.411,15.479h0a5.488,5.488,0,1,1,3.882-1.606A5.5,5.5,0,0,1,34.409,15.479Zm0-8.98a3.49,3.49,0,0,0,0,6.98h0a3.49,3.49,0,0,0,0-6.98Z" />
                  <rect fill="none" width="60" height="60" />
                </svg>
              </div>
              <div class="advantages__title">Занятие</div>
              <div class="advantages__descript">Вы&nbsp;можете создавать сценарии, которые запускают сразу несколько устройств. Скажите Siri: &laquo;Смотреть фильм&raquo;, и&nbsp;ваш дом закроет шторы, приглушит свет, включит проектор и&nbsp;Apple&nbsp;TV.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section -->
    <div class="info info_belay will-animation">
      <hr>
    </div>
    <!-- section -->
    <Popups v-if="!showPopup" isSection="true" />
    <!-- section -->
    <div class="txt will-animation">
      <div class="container">
        <div class="txt__title title">Как устроен процесс</div>
        <div class="txt__row">
          <div class="txt__col will-animation">
            <div class="txt__descript">Отправьте заявку на&nbsp;сайте. Наш инженер приедет к&nbsp;вам домой в&nbsp;удобное время и&nbsp;расскажет обо всех возможностях системы. Затем мы&nbsp;разработаем иидивидуальный проект на основе ваших пожеланий и&nbsp;предпочтений.
            </div>
          </div>
          <div class="txt__col will-animation">
            <div class="txt__descript">После того, как вы&nbsp;согласуете спецификации системы и&nbsp;сроки установки, мы подпишем договор. Всё прозрачно и&nbsp;понятно.
            </div>
          </div>
          <div class="txt__col will-animation">
            <div class="txt__descript">Мы&nbsp;установим и&nbsp;настроим систему, продемонстрируем функционал и&nbsp;научим ей пользоваться. После этого подпишем акт выполнения работ. Всё&nbsp;&mdash; ваш дом стал умнее!
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>
<script>
import Popups from './Popups'
export default {
  components: {
    Popups,
  },
  data() {
    return {
      toggleList: [0, 0, 0],
    }
  },
  computed: {
    showPopup() {
      return this.$store.state.showPopup;
    },
  },
  mounted() {
    var _this = this;
    this.elements = $('.will-animation');

    $(window).on('scroll', this.scrollHandler.bind(this));
    setTimeout(function() {
      $('html, body').scrollTop(0);
      $('.main').removeClass('load');
      _this.scrollHandler.call(_this);
    }, 0);
    if (this.$route.path === '/#form') $('#formBtn').click(); //<<<---???
  },
  methods: {
    scrollHandler: function() {
      var self = this;
      var delay, duration, animationType, transitionDelay;

      self.elements.each(function(i, item) {
        var el = $(item);

        if (!el.hasClass('inFocus')) {
          delay = parseFloat(el.data('animation-delay'));
          duration = parseFloat(el.data('animation-duration'));
          animationType = el.data('animation-type');
          transitionDelay = el.data('transition-delay');

          var focus = self.inFocus(item);

          if (focus.fullInWindow || focus.percHWindow > 25) {
            el.addClass('inFocus');

            // fix for safary desktop
            var $btn = el.find('.btn_animate');
            $btn.removeClass('btn_animate');

            setTimeout(function() {
              $btn.addClass('btn_animate');
            }, 0);

            if (animationType) {
              el.addClass(animationType);
            }
            if (delay) {
              el.css('animation-delay', delay + 's');
            }
            if (duration) {
              el.css('animation-duration', duration + 's');
            }
            if (transitionDelay) {
              el.css('transition-delay', transitionDelay + 's');
            }
          }
        }
      });
    },
    inFocus: function(elem) {
      var coords = elem.getBoundingClientRect();
      var top = coords.top;
      var bottom = coords.bottom;
      var h = document.documentElement.clientHeight;

      var isFocus = {
        // true, если проверяемый элемент полностью в окне
        fullInWindow: false,
        // true, если лемент частично в окне браузера
        partiallyInWindow: false,
        // true, если элемент полностью за пределами окна
        outsideWindow: false,
        // Отношение высоты элемента к высоте экрана. Если > 1, то элемент никогда не будет на 100% в экране
        heightRatio: +(Math.abs(top - bottom) / h).toFixed(3),
        // Определяет процент от высоты элемента, на который элемент находится в окне браузера
        percInWindow: 0,
        // Определяет сколько процентов высоты окна браузера занимает элемент на текущий момент
        percHWindow: 0
      };

      // Элемент полностью за пределами окна
      if (top < 0 && bottom < 0 || top > h && bottom > h) {
        isFocus.fullInWindow = false;
        isFocus.partiallyInWindow = false;
      }

      // Элеменит полностью в окне. Возможно только при isFocus.heightRatio < 1
      else if (top >= 0 && top <= h && bottom >= 0 && bottom <= h) {
        isFocus.fullInWindow = true;
        isFocus.partiallyInWindow = false;
        isFocus.percInWindow = 100;
        isFocus.percHWindow = +(isFocus.percInWindow * isFocus.heightRatio).toFixed(3);
      }

      // Элемент частично в окне (нижняя его часть видима)
      else if (top <= 0 && bottom >= 0 && bottom < h) {
        isFocus.partiallyInWindow = true;
        isFocus.percInWindow = +((Math.abs(top - bottom) - Math.abs(top)) / Math.abs(top - bottom) * 100).toFixed(3);
        isFocus.percHWindow = +(isFocus.percInWindow * isFocus.heightRatio).toFixed(3);
      }

      // Элемент частично в окне (верхняя его часть видима)
      else if (top >= 0 && top < h && bottom > h) {
        isFocus.partiallyInWindow = true;
        isFocus.percInWindow = +((h - Math.abs(top)) / Math.abs(top - bottom) * 100).toFixed(3);
        isFocus.percHWindow = +(isFocus.percInWindow * isFocus.heightRatio).toFixed(3);
      }

      // Высота элемента больше высоты окна и элемент занимает все окно
      else if (isFocus.heightRatio > 1 && top <= 0 && bottom > h) {
        isFocus.partiallyInWindow = true;
        isFocus.percInWindow = +(100 / isFocus.heightRatio).toFixed(3);
        isFocus.percHWindow = 100;
      }

      isFocus.outsideWindow = !isFocus.partiallyInWindow && !isFocus.percInWindow;

      return isFocus;
    },
  },
};
</script>
<style lang="scss">
@font-face {
  font-family: "Graphik-Regular-Cy";
  src: url("../assets/fonts/Graphik-Regular-Cy.eot");
  src: url("../assets/fonts/Graphik-Regular-Cy.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Graphik-Regular-Cy.woff") format("woff"), url("../assets/fonts/Graphik-Regular-Cy.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik-Medium-Cy";
  src: url("../assets/fonts/Graphik-Medium-Cy.eot");
  src: url("../assets/fonts/Graphik-Medium-Cy.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Graphik-Medium-Cy.woff") format("woff"), url("../assets/fonts/Graphik-Medium-Cy.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.btn {
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  background: #78b301;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 0 34px;
  position: relative;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: .25s ease;
}

.btn:hover {
  color: white;
  background: #78b301;
}

.btn_animate::after {
  content: "";
  display: block;
  width: 30px;
  height: 100%;
  position: absolute;
  opacity: .3;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .03) 1%, rgba(255, 255, 255, .6) 30%, rgba(255, 255, 255, .85) 50%, rgba(255, 255, 255, .85) 70%, rgba(255, 255, 255, .85) 71%, rgba(255, 255, 255, 0) 100%);
  -ms-transform: skew(-10deg, 0deg);
  transform: skew(-10deg, 0deg);
  animation: move 5s linear infinite;
  overflow: hidden;
}

@keyframes move {
  0% {
    left: 0;
  }

  20% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}

.btn_full {
  width: 100%;
  overflow: hidden;
}

.form-radio {
  position: relative;
  margin-right: 39px;
}

.form-radio:nth-last-child(1) {
  margin-right: 0;
}

.form-radio__inp {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

/*.form-radio__inp:checked + .form-radio__label::before{
  background: #78b301;
  border-color: #78b301;
}
.form-radio__inp:checked + .form-radio__label::after{
  display: block;
}*/
.form-radio__label {
  padding-left: 24px;
  position: relative;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.form-radio__label::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .2);
  position: absolute;
  left: 0;
  top: 0;
}

.form-radio__label::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 4px;
  background: white;
  /*display: none;*/
}

.form-radio__inp:checked+.form-radio__label::before {
  background: #78b301;
  border-color: #78b301;
}

.form-radio__inp:checked+.form-radio__label::after {
  display: block;
}

.form-ch__inp {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.form-ch__inp:checked+.form-ch__label::before {
  border-color: #78b301;
  background: #78b301 url("data:image/svg+xml,%3csvg version='1.1' id='Layer_2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='14px' height='14px' viewBox='0 0 14 14' enable-background='new 0 0 14 14' xml:space='preserve'%3e %3cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23E83587' d='M2%2c0h10c1.104%2c0%2c2%2c0.896%2c2%2c2v10c0%2c1.104-0.896%2c2-2%2c2H2 c-1.104%2c0-2-0.896-2-2V2C0%2c0.896%2c0.896%2c0%2c2%2c0z'/%3e %3cg%3e %3cpath fill='white' d='M5.721%2c9.121c-0.129%2c0-0.252-0.05-0.346-0.139L3.154%2c6.861c-0.199-0.19-0.207-0.507-0.016-0.707 c0.189-0.198%2c0.506-0.206%2c0.707-0.016L5.7%2c7.91l4.435-4.751c0.189-0.2%2c0.506-0.213%2c0.706-0.024 c0.202%2c0.188%2c0.213%2c0.505%2c0.024%2c0.706L6.086%2c8.962C5.995%2c9.06%2c5.868%2c9.117%2c5.735%2c9.121C5.73%2c9.121%2c5.726%2c9.121%2c5.721%2c9.121z'/%3e %3c/g%3e %3c/svg%3e") no-repeat center 0;
}

.form-ch__label {
  padding-left: 29px;
  position: relative;
  font: 16px/20px "Graphik-Medium-Cy", sans-serif;
  cursor: pointer;
}

.form-ch__label::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: 1px solid #5d5d5d;
  position: absolute;
  left: 0;
  top: 0;
}

.form-area {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 40px;
  line-height: normal;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
  background: white;
  padding: 0 16px;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
}

.form-area::-webkit-input-placeholder {
  color: #ccc;
}

.form-area::-moz-placeholder {
  color: #ccc;
}

.form-area:-moz-placeholder {
  color: #ccc;
}

.form-area:-ms-input-placeholder {
  color: #ccc;
}

.form-area:focus {
  outline: none;
}

.form-area.error {
  border-color: red;
}

.title {
  font: 32px/24px "Graphik-Medium-Cy", sans-serif;
}

.title_main {
  margin-top: 55px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list__item {
  position: relative;
  padding-left: 20px;
  margin-top: 5px;
  font-size: 14px;
  line-height: 21px;
}

.list__item:nth-child(1) {
  margin-top: 0;
}

.list__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #78b301;
}

.tabs__item {
  display: none;
}

.tabs__panel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tabs__panel_min {
  max-width: 900px;
  margin: 0 auto;
}

.tabs__btn {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  white-space: nowrap;
  padding: 0 18px;
  margin: 0 5px;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  text-align: center;
  transition: .25s ease;
}

.tabs__btn_active {
  border-color: #78b301;
}

.tabs__btn_line {
  color: #c6c6c6;
  border: none;
  border-radius: 20px;
  margin: 0;
  line-height: 40px;
}

.tabs__btn_line.tabs__btn_active {
  color: #78b301;
  /*background: #f6f6f6;*/
  border: #78b301 1px dashed;
}

.tabs__btn_line:not(.tabs__btn_active):hover {
  color: #78b301;
}

.tabs__btn_142 {
  min-width: 142px;
}

.tabs__content {
  margin-top: 60px;
}

.tabs__content_tile {
  margin-top: 43px;
}

label.error {
  font-size: 12px;
  color: red;
  margin-top: 10px;
  position: absolute;
  bottom: -18px;
  left: 15px;
}

.load {
  opacity: 0;
  overflow: hidden;
  max-height: 100vh;
}

.will-animation {
  opacity: 0;
  transition: .35s ease-in-out;
}

.will-animation.inFocus {
  opacity: 1;
}

.will-animation.inFocus .will-animation.inFocus {
  transition: .5s ease-in-out;
}

.will-animation.inFocus .will-animation.inFocus:nth-child(1) {
  transition-delay: .2s;
}

.will-animation.inFocus .will-animation.inFocus:nth-child(2) {
  transition-delay: .4s;
}

.will-animation.inFocus .will-animation.inFocus:nth-child(3) {
  transition-delay: .6s;
}

.will-animation.inFocus .will-animation.inFocus:nth-child(4) {
  transition-delay: .8s;
}

.will-animation.inFocus .species__item {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.will-animation.inFocus .advantages__item {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
}

.will-animation.animation-to-top {
  transform: translate3d(0, 20px, 0);
}

.will-animation.animation-to-top.inFocus {
  transform: translate3d(0, 0, 0);
}

.will-animation .species__item {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: .4s ease-in-out;
}

.will-animation .species__item:nth-child(1) {
  transition-delay: .2s;
}

.will-animation .species__item:nth-child(2) {
  transition-delay: .4s;
}

.will-animation .species__item:nth-child(3) {
  transition-delay: .6s;
}

.will-animation .advantages__item {
  opacity: 0;
  transform: translate3d(0, 20px, 0) scale(.98);
  transition: .4s ease-in-out;
}

.will-animation .advantages__item:nth-child(1) {
  transition-delay: .2s;
}

.will-animation .advantages__item:nth-child(2) {
  transition-delay: .4s;
}

.will-animation .advantages__item:nth-child(3) {
  transition-delay: .6s;
}

.will-animation .advantages__item:nth-child(4) {
  transition-delay: .8s;
}

.one-app .device-list__item {
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.one-app .device-list__item:nth-child(1) {
  transition-delay: 0s;
}

.one-app .device-list__item:nth-child(2) {
  transition-delay: .1s;
}

.one-app .device-list__item:nth-child(3) {
  transition-delay: .2s;
}

.one-app .device-list__item:nth-child(4) {
  transition-delay: .3s;
}

.one-app .device-list__item:nth-child(5) {
  transition-delay: .4s;
}

.one-app .device-list__item:nth-child(6) {
  transition-delay: .5s;
}

.one-app .device-list__item:nth-child(7) {
  transition-delay: .6s;
}

.one-app .device-list__item:nth-child(8) {
  transition-delay: .7s;
}

.one-app .device-list__item:nth-child(8) {
  transition-delay: .8s;
}

.one-app .device-list__item:nth-child(9) {
  transition-delay: .9s;
}

.one-app .device-list__item:nth-child(10) {
  transition-delay: 1s;
}

.one-app .device-list__item:nth-child(11) {
  transition-delay: 1.1s;
}

.one-app .device-list__item:nth-child(12) {
  transition-delay: 1.2s;
}

.one-app .device-list__item:nth-child(13) {
  transition-delay: 1.3s;
}

.one-app .device-list__item:nth-child(14) {
  transition-delay: 1.4s;
}

.one-app .device-list__item:nth-child(15) {
  transition-delay: 1.5s;
}

.one-app .device-list__item:nth-child(16) {
  transition-delay: 1.6s;
}

.one-app .device-list__item:nth-child(17) {
  transition-delay: 1.7s;
}

.one-app .device-list__item:nth-child(18) {
  transition-delay: 1.8s;
}

.one-app .device-list__item:nth-child(19) {
  transition-delay: 1.9s;
}

.one-app .device-list__item:nth-child(20) {
  transition-delay: 2s;
}

.one-app .device-list__item:nth-child(21) {
  transition-delay: 2.1s;
}

.one-app .device-list__item:nth-child(22) {
  transition-delay: 2.2s;
}

.one-app .device-list__item:nth-child(23) {
  transition-delay: 2.3s;
}

.one-app .device-list__item:nth-child(24) {
  transition-delay: 2.4s;
}

.one-app.inFocus .device-list__item {
  opacity: 1;
}

/*.will-animation {
  .species__item {
    opacity: 0;
    transform: translate3d(0,20px,0);
    transition: 0.4s ease-in-out;

    &:nth-child(1) {
      transition-delay: 0.2s;
    }
    &:nth-child(2) {
      transition-delay: 0.4s;
    }
    &:nth-child(3) {
      transition-delay: 0.6s;
    }
  }

  .advantages__item {
    opacity: 0;
    transform: translate3d(0,20px,0) scale(0.98);
    transition: 0.4s ease-in-out;

    &:nth-child(1) {
      transition-delay: 0.2s;
    }
    &:nth-child(2) {
      transition-delay: 0.4s;
    }
    &:nth-child(3) {
      transition-delay: 0.6s;
    }
    &:nth-child(4) {
      transition-delay: 0.8s;
    }
  }

  &.inFocus {
    .species__item {
      opacity: 1;
      transform: translate3d(0,0,0);
    }

    .advantages__item {
      opacity: 1;
      transform: translate3d(0,0,0) scale(1);
    }
  }

}*/
html,
body {
  font-family: "Graphik-Regular-Cy", sans-serif;
  color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  transition: .25s ease;
}

a:hover {
  color: #78b301;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.main {
  min-width: 1130px;
  transition: .3s linear;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1130px;
  position: relative;
}

.container_max {
  width: 100%;
  max-width: 1440px;
  min-width: 1100px;
  padding: 0;
}

.banner {
  background: #f7f7f7;
  padding: 0;
  position: relative;
  color: black;
  overflow: hidden;
}

.banner__inner {
  padding: 85px 0;
  position: relative;
  width: 100%;
}

.banner__title {
  font: 32px/35px "Graphik-Medium-Cy", sans-serif;
}

.banner__descript {
  margin-top: 27px;
  font-size: 16px;
  line-height: 23px;
  max-width: 379px;
}

.banner__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 32px;
}

.banner__price {
  margin-left: 30px;
  font: 16px/35px "Graphik-Medium-Cy", sans-serif;
}

.banner__content {
  max-width: 417px;
}

.banner__cover {
  position: absolute;
  right: -97px;
  top: 60px;
  width: 800px;
  height: auto;
}

.banner__cover img {
  width: 100%;
}

.info {
  margin-top: 64px;
}

.info__title {
  text-align: center;
  color: black;
  font: 32px/24px "Graphik-Medium-Cy", sans-serif;
}

.info__title_main {
  margin-top: 55px;
}

.info__descript {
  margin: 33px auto 0;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  max-width: 700px;
}

.info__descript_min {
  max-width: 510px;
}

.info_calm {
  margin-top: 76px;
}

.info_calm .info__title {
  -ms-transform: translateX(-28px);
  transform: translateX(-28px);
}

.info_belay {
  margin-top: 92px;
}

.info_belay .tile-content {
  max-height: 570px;
}

.info_2 {
  margin-top: 90px;
}

.info_2 .info__descript {
  margin-top: 44px;
  max-width: 600px;
}

.grid-content {
  margin-top: 68px;
  padding-top: 50px;
  padding-bottom: 66px;
  background: #f7f7f7;
}

.grid-content__title {
  text-align: center;
  font: 32px/24px "Graphik-Medium-Cy", sans-serif;
}

.grid-content__title_main {
  margin-top: 55px;
}

.grid-content__row {
  display: -ms-flexbox;
  display: flex;
  margin: 49px -15px 0;
}

.grid-content__item {
  width: 33.33%;
  padding: 0 15px;
}

.grid-content__subtitle {
  font: 23px/24px "Graphik-Medium-Cy", sans-serif;
  margin-top: 22px;
}

.grid-content__descript {
  font-size: 14px;
  line-height: 21px;
  margin-top: 12px;
}

.grid-content__cover {
  width: 70px;
  height: 70px;
}

.grid-content__cover svg {
  width: 100%;
}

.grid-content_why {
  margin-top: 72px;
  padding-top: 75px;
  padding-bottom: 73px;
}

.homekit {
  margin-top: 103px;
}

.homekit__inner {
  display: -ms-flexbox;
  display: flex;
}

.homekit__col {
  width: 47%;
}

.homekit__col_cover {
  width: 53%;
}

.homekit__title {
  font: 32px/35px "Graphik-Medium-Cy", sans-serif;
}

.homekit__content {
  max-width: 340px;
  margin-left: 102px;
  margin-top: 27px;
}

.homekit__descript {
  font-size: 14px;
  line-height: 21px;
  margin-top: 28px;
}

.homekit__img {
  width: 100%;
}

.one-app {
  margin-top: 96px;
}

.one-app__title {
  text-align: center;
}

.device-list {
  margin-top: 88px;
  margin-left: -15px;
  margin-right: -15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.device-list__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 95px;
  margin: 0 15px 58px;
}

.device-list__title {
  margin-top: 15px;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  text-align: center;
}

.device-list__icon {
  width: 60px;
  height: 60px;
}

.device-list__icon svg {
  width: 100%;
}

.video {
  margin-top: 38px;
}

.video__title {
  text-align: center;
}

.video__box {
  margin-top: 49px;

  video {
    width: 100%;
  }
}

.video img {
  width: 100%;
}

.species {
  margin: 0 -15px;
}

.species__inner {
  display: -ms-flexbox;
  display: flex;
}

.species__item {
  width: 33.33%;
  padding: 0 15px;
}

.species__title {
  margin-top: 24px;
  font-size: 18px;
  line-height: 21px;
}

.species__descript {
  margin-top: 11px;
  font-size: 14px;
  line-height: 21px;
  max-width: 326px;
}

.species__cover {
  height: 233px;
  width: 100%;
}

.species__img {
  width: 100%;
}

.species-box {
  margin-top: 32px;
}

.calm-box {
  margin-top: 43px;
}

.tile-content {
  display: -ms-flexbox;
  display: flex;
}

.tile-content__col {
  width: 50%;
  background: #f7f7f7;
}

.tile-content__col_belay {
  background: #197fd4;
}

.tile-content__col_belay .tile-content__title {
  color: white;
  font-size: 32px;
  margin-top: 26px;
  line-height: 33px;
}

.tile-content__col_belay .tile-content__descript {
  color: white;
  margin-top: 27px;
}

.tile-content__col_belay .tile-content__info {
  margin-left: 169px;
  margin-top: 145px;
}

@media screen and (max-width: 1199px) {
  .tile-content__col_belay {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .tile-content__col_belay .tile-content__info {
    margin: 0;
  }
}

.tile-content__img {
  width: 100%;
  height: 100%;
  max-height: 620px;
}

.tile-content__info {
  margin-top: 94px;
  margin-left: 109px;
  max-width: 365px;
}

.tile-content__title {
  font: 23px/24px "Graphik-Medium-Cy", sans-serif;
}

.tile-content__descript {
  margin-top: 28px;
  font-size: 14px;
  line-height: 21px;
}

.tile-content__row {
  margin-top: 31px;
}

.tile-content__row .btn {
  padding: 0 31px;
}

.tile-content__cover {
  width: 140px;
}

.tile-content__cover img {
  width: 100%;
  height: auto;
}

.advantages {
  display: -ms-flexbox;
  display: flex;
  margin: 59px -15px 0;
}

.advantages__item {
  display: inline-block;
  width: 25%;
  padding: 0 15px;
}

.advantages__cover {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.advantages__cover svg {
  width: 100%;
}

.advantages__title {
  font: 14px/21px "Graphik-Medium-Cy", sans-serif;
  margin-top: 24px;
  text-align: center;
}

.advantages__descript {
  font-size: 14px;
  line-height: 21px;
  margin-top: 9px;
  text-align: center;
}

.checkout {
  margin-top: 45px;
}

.checkout__box {
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.checkout__box_content {
  margin-top: 46px;
}

.checkout__col {
  width: 33.33%;
  padding: 0 15px;
}

.checkout__colgroup {
  width: 66.66%;
  padding: 0 15px;
}

.checkout__row {
  margin-top: 45px;
  display: -ms-flexbox;
  display: flex;
}

.checkout__label {
  width: 168px;
  font: 16px/24px "Graphik-Medium-Cy", sans-serif;
}

.checkout__title {
  margin-top: 32px;
  margin-bottom: 50px;
}

.checkout__cover {
  width: 320px;
  margin-left: -40px;
}

.checkout__vals {
  padding-top: 4px;
  display: -ms-flexbox;
  display: flex;
}

.checkout__list-box {
  margin-top: 19px;
}

.checkout__price {
  font: 16px/24px "Graphik-Medium-Cy", sans-serif;
  margin-top: 18px;
}

.request {
  margin-top: 56px;
  background: #f7f7f7;
  padding: 52px 0 78px;
}

.request__row {
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.request__row_form {
  margin-top: 39px;
}

.request__col {
  width: 75%;
  padding: 0 15px;
  position: relative;
}

.request__col_content {
  width: 75%;
}

.request__price {
  font: 21px/24px "Graphik-Medium-Cy", sans-serif;
  margin-top: 5px;
}

.request__txt {
  font-size: 14px;
  line-height: 21px;
}

.request__txt_descript {
  max-width: 724px;
}

.request__txt a {
  color: #78b301;
}

.txt {
  margin-top: 74px;
  margin-bottom: 77px;
}

.txt__row {
  display: -ms-flexbox;
  display: flex;
  margin: 57px -15px 0;
}

.txt__col {
  padding: 0 15px;
  width: 33.3%;
}

.txt__descript {
  font-size: 14px;
  line-height: 21px;
  max-width: 326px;
}

.content {
  display: -ms-flexbox;
  display: flex;
  margin: 71px -15px 0;
  width: 100%;
}

.content__col {
  padding: 0 15px;
  width: 32%;
}

.content__col_main {
  padding-left: 37px;
  width: 68%;
}

#svg-home,
#svg-main {
  cursor: pointer;
}

@media (min-width: 1440px) {
  .info_belay {
    background-color: #197fd4;
  }

  .container_max-width {
    max-width: unset;
  }

  .tile-content__img-wide {
    max-height: unset;
    height: auto;
  }

  .container_max-width .tile-content__col {
    max-height: 620px;
    overflow: hidden;
  }
}

@media (min-width: 1920px) {
  .info_belay {
    background-color: #197fd4;
  }

  .container_max-width {
    max-width: unset;
  }

  .tile-content__img-wide {
    max-height: unset;
    height: auto;
  }

  .container_max-width .tile-content__col {
    max-height: 620px;
    overflow: hidden;
  }
}

.file-add_container {
  position: absolute;
}



.request__col-btn {
  width: 25%;
}

.request__col-inputs {
  display: flex;
  flex-direction: column;
}

.request__col-inputs-inputs {
  display: flex;
}

.request__col-inputs-item {
  width: 35%;
  padding: 0 30px 0 0;
}

.form-area_comment {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  min-height: 40px;
  line-height: normal;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
  background: white;
  padding: 0 16px;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  padding-top: 12px;
}

.request__col-inputs-comment {
  padding: 0 30px 0 0;
  margin-top: 30px;
}

.request__col-short {
  width: 25%;
}

.request__col_content {
  width: 49%;
}

.request-agreement {
  font-size: 12px;
  color: #999999;
  margin-top: 23px;
}

.request-agreement a {
  color: #78b301;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}


/*Upload Files*/

.inputfile {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  padding: 0;
}

.files-add_label {
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  color: #78b301;
  position: relative;
}

.files-add {
  margin-top: 30px;
}

.close-cross {
  cursor: pointer;
  width: 13px;
  height: 13px;
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.close-cross:before {
  content: '';
  height: 13px;
  width: 1px;
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
}

.close-cross:after {
  content: '';
  height: 13px;
  width: 1px;
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(-45deg);
  top: 0;
  left: 0;
}

.val-container {
  display: inline-block;
  padding-left: 25px;
  font-size: 14px;
}

.sheet {
  height: 20px;
  width: 15px;
  background-color: #f2f2f2;
  position: absolute;
}

.sheet-triangle {
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 5px solid #78b301;
  border-right: 5px solid #f7f7f7;
  right: 0;
}

.error-value {
  color: #ff0000;
  font-size: 14px;
}

.attach-file_label {
  font-size: 14px;
  color: #78b301;
}

/* Adaptive */
@media screen and (max-width: 1024px) {
  #app {
    max-width: 100%;
    overflow-x: hidden;
  }

  .container {
    width: 100%;
  }

  .will-animation {
    opacity: 1;
  }

  .header {

    &-inner,
    &__col {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__phone {
      display: none;
    }
  }

  .logo-text {
    margin: 10px;
  }

  .banner {
    &__cover {
      width: 100%;
      margin-right: -32%;
    }
  }
}

@media screen and (max-width: 767px) {
  #app {
    max-width: 100%;
    overflow-x: hidden;
  }

  main {
    margin-top: 60px;
  }

  .container {
    width: 100%;
  }

  .will-animation {
    opacity: 1;
  }

  .header {
    &-inner {
      display: none;

      &.mob {
        flex-direction: row;
      }
    }
  }

  .banner {
    &__inner {
      padding: 20px 10px;
    }

    &__content {
      display: flex;
      flex-direction: column;
    }

    &__title {
      font-size: 24px;
      line-height: normal;
    }

    &__cover {
      position: static;
      width: 100%;
      margin: 10px 0;
    }

    &__row {
      flex-direction: column;
      align-items: start;
    }
  }

  .info {
    margin-top: 40px;

    &__title {
      font-size: 24px;
    }

    &__descript {
      margin: 20px 10px;
    }
  }

  .grid-content {
    margin-top: 43px;
    padding: 36px 10px 20px;

    &__row {
      display: -webkit-box;
      overflow-x: auto;
    }

    .container {
      width: auto;
    }

    &__title {
      font-size: 24px;
    }

    &__item {
      width: 90%;
      height: auto;
      padding-bottom: 30px;
    }
  }

  .homekit {
    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__col {
      width: 90%;
      text-align: center;
    }

    &__content {
      margin: 0;
    }
  }

  .one-app {
    margin-top: 40px;
    padding: 40px 0 20px;
    background: #eaf9ec;

    &__title {
      font-size: 24px;
      line-height: normal;
    }

    .device-list {
      margin-top: 40px;
      padding: 0 20px;
      overflow-x: auto;
      flex-wrap: nowrap;
      justify-content: start;
      margin-left: -40px;
      margin-right: 0;

      &__item {
        opacity: 1;
      }
    }
  }

  .video {
    &__title {
      font-size: 24px;
    }

    &__box {
      width: 100%;
    }
  }

  .info {
    .container {
      padding: 0 20px;
    }

    .tabs {
      &__panel {
        overflow-x: auto;
        flex-wrap: nowrap;
        margin: 0 -20px;
        padding-bottom: 15px;

        &-inner {
          display: flex;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -ms-flex-align: start;
          align-items: flex-start;
          padding: 0 20px 0 60px;
        }
      }

      &__content {
        margin-top: 20px;
      }

      .species {
        display: flex;
        margin: 0 -20px;
        overflow-x: auto;

        &__inner {
          padding: 0 10px;
          display: -ms-flexbox;
          display: flex;
        }

        &__item {
          width: 300px;
          min-width: 300px;
          padding: 0 10px 10px;
        }

        &__cover {
          width: 100%;
          height: auto;
        }

        &__title {
          margin-top: 18px;
        }
      }
    }
  }

  .info_calm {
    .container {
      padding: 0;
    }

    .info__title {
      padding-left: 25px;
    }

    .tabs {
      &__panel {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin: 0 -20px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        padding: 0 15px 0 20px;

        &-inner {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -ms-flex-align: start;
          align-items: flex-start;
          padding: 0 20px;
        }
      }

      &__item {
        .tile-content {
          display: block;
        }

        .tile-content__img {
          max-height: auto;
          width: 100%;
        }

        .tile-content__info {
          padding: 20px 20px 40px;
          margin: 0;
          text-align: center;
        }
      }
    }
  }

  .advantages {
    &__inner {
      display: flex;
      padding: 0 12px;
      overflow-x: auto;
    }

    &__item {
      width: 224px;
      min-width: 224px;
      padding: 0 15px 10px;
    }
  }

  .txt {
    &__row {
      flex-direction: column;

      &:before {
        content: '';
        width: 1px;
        height: 320px;
        border-left: #78b301 1px dotted;
        margin: 200px auto -560px;
      }
    }

    &__col {
      margin: 20px auto;
      width: 80%;
      padding: 20px;
      border: #78b301 1px dashed;
      border-radius: 45px;
      background: #fafef3;
      text-align: center;

      &:before {
        display: block;
        margin: 0 auto 20px;
        width: 30px;
        height: 30px;
        padding: 5px;
        background: #78b301;
        border-radius: 50%;
        content: '1';
        font-size: 18px;
        font-weight: 600;
        color: #fff;
      }
    }

    &__col:nth-of-type(2):before {
      content: '2';
    }

    &__col:nth-of-type(3):before {
      content: '3';
    }
  }

  .footer {

    &-info,
    &-menu {
      padding: 20px;
    }

    &-subscribe {
      display: none;
    }

    &-menu {
      &-cont {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}
</style>