<template>
  <div class="mobile-menu" @click="$emit('close')">
    <div class="mobile-menu__close"></div>
    <div class="mobile-menu-list">
        <a href="/" class="mobile-menu-list__item">Что такое умный дом?</a>
        <a href="/solutions" class="mobile-menu-list__item">Решения</a>
        <a href="/faq" class="mobile-menu-list__item">Частые вопросы</a>
        <a href="#" class="mobile-menu-list__item" @click="$emit('order')">Заказать</a>
        <a href="tel:84955021944" class="mobile-menu-list__item mobile-menu-list__item_call">Позвонить</a>
        <!-- <a href="/" class="mobile-goback_home">секретная ссылка</a> -->
    </div>
  </div>
</template>
<style>
  .mobile-menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    position: fixed;
    right: 0;
    top: 130px;
    bottom: 0;
    box-sizing: border-box;
    margin: auto;
    background: #78b301;
    line-height: normal;
    z-index: 6;
    box-shadow: none;
    -ms-transform: translate(100%, 0%);
    transform: translate(100%, 0%);
    transition: .5s ease 0s;
}
.mobile-menu-list {
    opacity: 0;
    transition: opacity 1s ease-in;
}
.m-show .mobile-menu {
    width: 100%;
    padding: 20px;
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    transition: .5s ease 0s;
}
.m-show .mobile-menu-list {
    opacity: 1;
}
.mobile-menu::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 100%;
    transition: opacity .25s ease 0s, left 0s ease .5s;
}
.m-show .mobile-menu::after {
    left: -100%;
    opacity: .7;
    -webkit-transition: opacity .25s ease 0s, left 0s ease 0s;
    transition: opacity .25s ease 0s, left 0s ease 0s;
}
.mobile-menu__close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 28px;
    cursor: pointer;
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}
.mobile-menu__close::before, 
.mobile-menu__close::after {
    content: "";
    width: 2px;
    height: 21px;
    background: #FFF;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
.mobile-menu__close::before {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-menu-list {
    width: 100%;
    position: absolute;
    top: 40px;
}
.mobile-menu-list__item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
    font: 24px/30px "Graphik-Medium-Cy", sans-serif;
    padding: 15px 0;
    color: white;
    cursor: pointer;
    border-top: 1px solid white;
}
.mobile-menu-list__item:nth-of-type(1) {
  border-top: none;
}
</style>